<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsalarmmonitor">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success play" data-click="panel-sound" disabled><i class="fa fa-bell"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsalarmmonitor-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm">Filtrar Alarmes</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Monitor de Alarmes</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i>Filtrar Alarme 
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<input type="hidden" name="id" id="id" value="" />
			<input type="hidden" name="account_id" id="account_id" value="" /> 
			
			<div class="form-group col-md-12 col-sm-12">
				<label>Grupos</label>
				<select name="group" id="group" class="form-control input-sm selectGroup" multiple>
					<option value="0">Todos</option>
				</select>
			</div>

			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Nível Crítico</label>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12" style="text-align: center;">
				<button type="button" class="p-10 btn btn-success m-r-2 btn-level" id="1">Baixo</button>
				<button type="button" class="p-10 btn btn-warning m-r-2 btn-level" id="2">Médio</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-level" id="3">Alto</button>
				<input type="hidden" name="level" id="level" value="0" />
			</div>

			<div class="form-group col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons"></div>

			<div class="form-group col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x icon-search"></i> Buscar</button>
			</div>

	 	</form>	

		<div class="col-md-12">	
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<audio id="audio">
		    <source src="assets/files/alarm.mp3">
		</audio>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/alarmmonitor/alarmmonitor.js"></script>
    </div>
</div>