<!-- begin #content -->
<div id="content" class="content dashboard">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12 dashboard-FullScr hidden"></div>
        <!-- end col-12 -->
        <!-- begin col-8 -->
        <div class="col-md-8 dashboard-grid">
            <div class="panel panel-inverse hidden" data-sortable-id="index-2">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Titulo 1</h4>
                </div>
                <div class="panel-body">
                    Conteudo
                </div>
            </div>          
        </div>
        <!-- end col-8 -->
        <!-- begin col-4 -->
        <div class="col-md-4 dashboard-grid">
            <div class="panel panel-inverse hidden" data-sortable-id="index-3">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Titulo 4</h4>
                </div>
                <div class="panel-body">
                    Conteudo
                </div>
            </div>          
        </div>
        <!-- end col-4 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script>
    App.restartGlobalFunction(2);
    App.setPageTitle('MovaMaps | Dashboard');

    $.getScript('assets/js/dashboard.min.js').done(function() {
        Dashboard.init();
    });
</script>
<!-- ================== END PAGE LEVEL JS ================== -->