<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsuser">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsuser-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm" >Adicionar Usuário</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Usuários</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="user" id="user" class="hidden">
			<input type="hidden" name="account_id" id="account_id" value="" />
			<input type="hidden" name="id" id="id" value="" />
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label>  usuário
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<div class="form-group col-md-12 col-sm-12">
				<label>Nome</label>
				<input type="text" class="form-control input-sm" name="name" id="name" placeholder="Nome" data-parsley-length="[3, 100]" required="required" />
			</div>
			<div class="form-group col-md-12 col-sm-12">
				<label>E-mail/Login</label>
				<input type="email" class="form-control input-sm" name="login" id="login" data-parsley-length="[3, 100]" placeholder="E-mail" required="required" />
			</div>
			<div class="col-md-12 col-sm-12 edit">
				<label><input type="checkbox" value="1" id="reset_password" />Deseja resetar senha?</label>				
			</div>

			<div class="col-md-12 col-sm-12" style="padding: 0px !important;">		
				<div class="col-md-6 col-sm-6">
					<label><input type="checkbox" id="user_web" style="margin-right: 6px;"/>Usuário Web</label>				
				</div>
				<div class="col-md-6 col-sm-6">
					<label><input type="checkbox" id="user_mobile" style="margin-right: 6px;"/>Usuário Mobile</label>				
				</div>				
			</div>

			<div class="col-md-12 col-sm-12 p-b-5 accordion">
				<h6 class="title">Restrições <i class="fa fa-sort-desc"></i></h6>
				<div class="col-md-12 col-sm-12 p-0">
					<div class="form-group checkbox col-md-12 col-sm-12">
						<label><input type="checkbox" id="check_day" />Restrições de dias</label>				
					</div>
					<div class="form-group col-md-6 col-sm-12" style="display: none">
						<label>De</label>
						<select name="day_start" id="day_start" class="form-control input-sm check_day">
							<option selected value="">Dias da semana</option>
						</select>
					</div>
					<div class="form-group col-md-6 col-sm-12" style="display: none">
						<label>Até</label>
						<select name="day_end" id="day_end" class="form-control input-sm check_day">
							<option selected value="">Dias da semana</option>
						</select>
					</div>
					<div class="form-group checkbox col-md-12 col-sm-12">
						<label><input type="checkbox" id="check_hour" />Restrições de horário</label>				
					</div>
					<div class="form-group col-md-6 col-sm-12">
						<div class="input-group clockpicker" style="display: none">
							<label>De</label>
						    <input type="time" name="hour_start" id="hour_start" class="form-control input-sm check_hour">
						</div>
					</div>
					<div class="form-group col-md-6 col-sm-12">
						<div class="input-group clockpicker" style="display: none">
							<label>Até</label>
							<input type="time" name="hour_end" id="hour_end" class="form-control input-sm check_hour" />
						</div>
					</div>
					<div class="form-group checkbox col-md-12 col-sm-12">
						<label><input type="checkbox" id="check_end_access" />Data limite do acesso</label>				
					</div>
					<div class="form-group col-md-12 col-sm-12" style="display: none">
						<input type="text" name="end_access" id="end_access" class="form-control input-sm pluginDate check_end_access" />
					</div>
					
				</div>
			</div>
			<div class="col-md-12 col-sm-12 p-b-5 accordion">
				<h6 class="title">Widgets <i class="fa fa-sort-desc"></i></h6>
				<div class="col-md-12 col-sm-12 p-0 tree">
					<div class="form-group permTree"></div>
					<ul class="parsley-errors-list filled"><li class="parsley-required"></li></ul>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 p-b-5 accordion">
				<h6 class="title">Grupos <i class="fa fa-sort-desc"></i></h6>
				<div class="col-md-12 col-sm-12 p-0 tree">
					<div class="form-group groupTree"></div>
				</div>
			</div>	
			<div class="form-group action-buttons text-center col-md-12 col-sm-12">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
			</div>
		</form>
			
		<div class="col-md-12">
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/user/user.js"></script>
    </div>
</div>