<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsunitmonitor">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload" disabled><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsunitmonitor-dropdown" role="menu">
            	<li><a href="javascript:;" class="listColVisButtons">Listar Colunas</a></li>
            	<li class="divider"></li>
            	<!--<li><a href="javascript:;" onClick="widgetsUnitMonitor.print('print')">Imprimir</a></li>-->
            	<!--<li><a href="javascript:;" onClick="widgetsUnitMonitor.print('PDF')">Exportar PDF</a></li>-->
            	<li><a href="javascript:;" onClick="widgetsUnitMonitor.print('CSV')">Exportar CSV</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Monitor de Unidades</h4>
    </div>
    <div class="panel-body">		

		<div class="col-md-12">
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/unitmonitor/unitmonitor.js"></script>
    </div>
</div>