<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsreportchecklistvelleda">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs fristAction">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsreportchecklistvelleda-dropdown" role="menu">
            	
            </ul>
        </div>
        <h4 class="panel-title">Checklist - Lista</h4>
    </div>
    <div class="panel-body"> 

		<ul class="nav nav-tabs" id="widgetsreportchecklistvelleda-nav" onclick="changeActiveMenu(event)">
			<li class="active"><a href="#tab-search-checklistvelleda"  id="search-checklistvelleda" data-toggle="tab">Filtros</a></li>			
		</ul> 	

		<div class="col-md-12 p-l-0 p-r-0 tab-content">
			
			<div class="col-md-12 tab-pane fade active in" id="tab-search-checklistvelleda">	
				<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="no-padding hidden">

					<div class="col-md-12 col-sm-12 col-xs-12 no-padding">

						<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
							<div class="col-md-12 col-sm-12 col-xs-12">
			        			<label>Data Início</label>
			        		</div>
		    				<div class="col-md-6 col-sm-6 col-xs-6">
								<input type="text" name="start_dataatual" id="start_dataatual" class="form-control input-sm pluginDate" value="" placeholder="De" required="required"/>
							</div>	
						</div>	

						<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
							<div class="col-md-12 col-sm-12 col-xs-12">
			        			<label>Data Fim</label>
			        		</div>
		    				<div class="col-md-6 col-sm-6 col-xs-6">
								<input type="text" name="end_dataatual" id="end_dataatual" class="form-control input-sm pluginDate" value="" placeholder="Até" required="required"/>
							</div>	
						</div>	

					</div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12">	
							<label>Posto</label>
						</div>
						<select id="group_id" name="group_id" class="form-control input-sm">
							<option value="0" selected>Todos</option>
						</select>
					</div>	       		

					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x icon-search"></i> Buscar</button>
					</div>

				</form>

				<div id="loadingProgressG" class="load-report">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>		

		</div>	
		<!-- ### SCRIPTS DIVERSOS ### -->
    	<script src="widgets/reportchecklistvelleda/reportchecklistvelleda.js"></script>
    </div>
</div>
