/*.datepicker.dropdown-menu tr:hover {
    background-color: #808080;
}
*/
.sidebar .poweredByMova {
    height: 46px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin-left: 13px;
}
.sidebar .white {
    background: url(../img/marcaDagua.png) no-repeat -37px -1px;
}
.sidebar .dark {
    background: url(../../assets/img/marcaDagua.png) no-repeat -37px -48px;
}
.page-sidebar-minified .sidebar .white {
    background: url(../../assets/img/marcaDagua.png) no-repeat 0px 0px;
    width: 30px;
}
.page-sidebar-minified .sidebar .dark {
    background: url(../../assets/img/marcaDagua.png) no-repeat 0px -50px;
    width: 30px;
}
.sidebar .poweredByMova a {
    display: block;
    height: 35px;
    font-size: 0;
}
/* datatable CSS */
table.dataTable, 
.dataTables_scrollBody {
    margin: 0px !important;
    margin-bottom: 5px !important;
}
table.dataTable {
    table-layout: fixed;
}
.dataTables_scrollBody {
    margin-top: -10px !important;
    margin-bottom: 5px !important;
}
table.dataTable > thead > tr > th,
table.dataTable > tbody > tr > td {
    padding: 5px 5px !important;
}
table.dataTable > tbody > tr > td {
    cursor: pointer;
}

.groupTable {
    background: #AFB9BD;
    color: #000;
    font-weight: bold;
    padding: 5px;
}

table.tableDetalhes thead > tr > th, table.tableDetalhes tbody > tr > td {
    padding: 5px 10px;
}

table.tableDetalhes thead > tr > th {
    background: #C1CCD1;
}

table.tableDetalhes {
    margin: 0px;
}
table tr {
    white-space: nowrap !important;
}
table input {
    margin-right: 15px;
    border-radius: 3px;
    border: 1px solid #E2E7EB;
}

table .labelHeader {
    margin-right: 14px;
}
.ColVis_collection span input,
.ColVis_collection span select{
    display: none;
}
.ColVis_Special {
    display: block !important;
    border: none !important;
    background: #fff !important;
    border-top: 1px solid #E2E7EB !important;
    padding-left: 13px !important;
    cursor: pointer !important;
}
.ColVis_Special i,
.ColVis_Special label {
    cursor: pointer !important;
}
.ColVis_Button.ColVis_MasterButton {
    height: 0px;
    border: none;
}
ul.ColVis_collection {
    margin-top: -5px;
    margin-left: -125px;
}
button.ColVis_Button:before {
    border: none !important;
}

.bg-color-primary{
    background-color: #242A30;
    color: #ffffff;
}
.bg-color-on{
    background-color: #00acac !important;
    color: #ffffff !important;
}
.bg-color-off{
    background-color: #d9534f !important;
    color: #ffffff !important;
}
.bg-color-off-2{
    background-color: #cccccc !important;
    color: #ffffff !important;
}
.bg-color-stat{
    background-color: #f59c1a !important;
    color: #ffffff !important;
} 
.color-on {
    color: #00acac !important;
}
.color-off {
    color: #ff5b57 !important;
}
.color-off-2 {
    color: #cccccc !important;
}
.color-stat {
    color: #f59c1a !important;
}

.dataTables_filter label {
    width: 100% !important;
}

.dataTables_filter label input[type="search"] {
    width: 100%;
    margin: 0px !important;
}

.dataTables_paginate .paginate_button {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.speed-rule {
    margin: 0px;
    margin-left: 15px;
    margin-right: 15px;
}
span.load-unit {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    color: #989DA3;
    width: 100%;
    text-align: center;
}
span.informer-text {
    font-size: 9px;
    margin: 0px;
    /* margin-top: -2px; */
}

/* ### WIDGET UNIT ### */
.device-list {
    display: inline-block;
}
.device-list-label{
    vertical-align:middle;  
}
.device-list-primary{
    background: #FF5B57 !important;
}
a.remove-device {
    line-height: 0px !important;
    padding-top: 4px !important;
}

.mobile-menu-mova {
    position: absolute !important;
    float: left !important;
    top: -21px;
    left: -11px;
    z-index: 999999999999;
}

.has-sub .icon,
.sub-menu .icon {
    margin-left: -39px;
    margin-right: 2px;
    margin-top: -13px;
    margin-bottom: -10px;
}
.sidebar .sub-menu > li > a:before {
    color: rgba(26, 34, 41, 0) !important;
}
.sidebar .fa-circle{
    color: rgba(204, 204, 204, 0) !important;
}
.sidebar .fa-inverse{
    color: #A8ACB1 !important;
    font-size: 10px;
}
/* bootstrap CSS */
.content {
    padding: 5px 15px !important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 5px !important;
}

.labelRow {
    border-left: 1px solid #C1CCD1;
    min-height: 78px;
}

.labelRow:first-child {
    border-left: 0px;
}

.labelCol {
    background: #C1CCD1;
    color: #666;
}

.noPadding {
    padding: 0px !important;
}

.rowLabel {
    border-bottom: 1px solid #C1CCD1;
    border-left: 1px solid #C1CCD1;
    border-right: 1px solid #C1CCD1;
}
.dashboard-grid {
    margin-bottom: -10px !important;
}
.visualize-box-in {
    border: 1px solid #E2E7EB;
    border-radius: 3px;
}
.visualize-title {
    /* NADA */
}
.visualize-content {
    border: 1px solid #E2E7EB;
    border-radius: 3px;
    padding-top: 2px !important;
    padding-bottom: 1px !important;
}
.panel {
    margin-bottom: 10px !important;
}
.panel-heading {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.no-padding {
    padding: 0px !important;
}
.panel-body {
    padding: 0px !important;
    min-height: 269px;
}
.nav-tabs > li > a {
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
.tab-content {
    margin: 0px !important;
    padding: 0px !important; 
}
.header-text {
    background-color: #D9E0E7;
    width: 100%;
    padding: 4px !important;
    border-radius: 3px;
    padding-top: 9px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.selectedUnit{
    cursor: pointer;
}

.searchUnitControl {
    border: 1px solid #CCD0D4;
    border-radius: 3px;
}
.searchUnitControl div.titleSelect {
    border: 1px solid #CCD0D4;
    border-radius: 3px;
    background: #EEEEEE;
    padding: 3px !important;
    margin-top: 2px;
    margin-bottom: 2px;
}
.searchUnitControl .titleSelectInput {
    padding: 0px !important;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}
.searchUnitControl .select-loader {
    background: #FFF;
    opacity: 0.9;
    filter: alpha(opacity=90);
    animation: fadeIn .2s;
    -webkit-animation: fadeIn .2s;
    z-index: 1020;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;

    height: 84px !important;
}
.searchUnitControl .select {
    margin: 0px !important;
    margin-left: -15px !important;
}

.datepicker table tr td.day:hover, 
.datepicker table tr td.day.focused {
    background: #c1ccd1;
    cursor: pointer;
}
a.i-check {
    padding-right: 5px;
    float: right;
    margin-top: -3px;
    cursor: pointer;
    color: #7B7F84;
}
a.i-check:hover {
    color: #000;
}

/*STYLE PARA COMPONENTE DE ASSOCIAÇÃO DE UNIDADES*/
.control-assoc button {
    width: 30px;
}
.table-assoc .dataTables_scrollBody {
    /*margin-top: 0px !important;*/
    border: 1px solid #E2E7EB;
    overflow-x: hidden !important;
}
.table-assoc thead {
    display: none;
}
.table-assoc .table-striped > tbody > tr:nth-child(odd) > td, 
.table-assoc .table-striped > tbody > tr:nth-child(odd) > th {
    /*background: #F0F3F5;*/
    background: none;
}
.table-assoc tr.assoc-selected {
    background-color: #348FE2 !important;
    color: #fff;
}
.table-assoc .dataTables_scrollBody {
    height: 200px;
}
.assoc-aba {
    background-color: #D9E0E7;
    opacity: 0.5;
    cursor: pointer;
}
.assoc-aba.selected {
    opacity: 1 !important;
}
.assoc-unit-div {
    position: absolute;
    background-color: white;
    bottom: 0px;
    left: 0px;
    border-radius: 3px;
    z-index: 999999;
    border: 1px solid #D9E0E7;
}
.assoc-unit > i.fa {
    font-size: 10px;
    margin-top: -2px;
    margin-left: 1px;
}

/*FIM - STYLE PARA COMPONENTE DE ASSOCIAÇÃO DE UNIDADES*/

/* ### WIDGET DRIVER ### */
.valeFields {
    /*background-color: #D9E0E7 !important;*/
    padding: 0px !important;
}
/* ### FIM WIDGET DRIVER ### */

/* ### WIDGET ACCOUNT ### */
#widgetsaccount .event ul li ul li ul i.jstree-icon.jstree-checkbox {
    display: none;
}
/* ### FIM WIDGET ACCOUNT ### */

/* ### WIDGET ALARME ### */

#widgetsalarm .btn-level {
    width: 30%;
}
#widgetsalarm .selectdLevel {
    border: 2px solid #707478 !important
}

#widgetsalarm .list-alarm {
    border: 1px solid #D9E0E7;
    border-radius: 3px;
}
#widgetsalarm .item-alarm-selected {
    padding: 0px !important;
}
#widgetsalarm .event-item {
    border: 1px solid #F59C1A;
    border-radius: 3px;
    background-color: #D9E0E7;
}
#widgetsalarm span.operador {
    color: #F59C1A;
    font-weight: bold;
}
/* ### WIDGET ALARME FIM ### */

/* ### WIDGET ALARME MONITOR ### */

#widgetsalarmmonitor .table-striped > tbody > tr:nth-child(odd) > td, 
#widgetsalarmmonitor .table-striped > tbody > tr:nth-child(odd) > th {
    background: none;
}

#widgetsalarmmonitor span.alarm-title {
    font-size: 14px;
    font-weight: bold;
}
#widgetsalarmmonitor .alarmRow, 
#widgetsalarmmonitor .alarmRow div {
    padding: 0px !important;
}
#widgetsalarmmonitor i.alarm-icon {
    font-size: 18px;
    margin-top: -7px;
}
#widgetsalarmmonitor i.alarm-icon:hover, 
#widgetsalarmmonitor i.alarm-icon:focus, 
#widgetsalarmmonitor i.alarm-icon:active, 
#widgetsalarmmonitor i.alarm-icon.active {
    color: #242a30;
    /*border: 1px solid;
    border-radius: 14px;*/
}
#widgetsalarmmonitor .table > thead > tr > th, 
#widgetsalarmmonitor .table > tbody > tr > th, 
#widgetsalarmmonitor .table > tfoot > tr > th, 
#widgetsalarmmonitor .table > thead > tr > td, 
#widgetsalarmmonitor .table > tbody > tr > td, 
#widgetsalarmmonitor .table > tfoot > tr > td {
    border: none;
    border-bottom: 1px solid;
    border-color: #e2e7eb;
}
#widgetsalarmmonitor .alarm-btn-disabled {
    color: #ddd !important;
}
#widgetsalarmmonitor .alarmRow.info {
    background-color: #fff;
    color: #707478;
    height: 80px;
    display: none;
    padding: 5px !important;
    margin-left: 0px;
    margin-top: -4px;
    margin-bottom: 0px;
    border: 1px solid #E2E7EB;
    border-radius: 3px;
}
#widgetsalarmmonitor .btn-level {
    width: 30%;
}
#widgetsalarmmonitor .selectdLevel {
    border: 2px solid #707478 !important
}
/* ### WIDGET ALARME MONITOR FIM ### */

/* ### WIDGET GROUP ### */
#widgetsgroups .list-subgroup{
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: 1px solid #D9E0E7;
    border-radius: 3px;
}
#widgetsgroups .item-subgroup{
    padding-bottom: 2px !important;
    padding-top: 0px !important;
}
#widgetsgroups .item-subgroup .minus{
    text-align: center;
    padding-top: 5px !important;
}
/* ### WIDGET GROUP FIM ### */

/* ### WIDGET FREE COMMAND ### */

/* ### WIDGET FREE COMMAND FIM ### */

/* FORM CSS */
form {
    padding: 5px !important;
}
.form-group {
    margin-bottom: 0px !important;
}
form .btn {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.accordion h6.title.ui-accordion-header {
    border: 1px solid #CCD0D4;
    width: 100%;
    border-radius: 3px;
    padding: 5px;
    height: 30px;
    cursor: pointer;

    background: #EEEEEE;
    background: -webkit-linear-gradient(#EEEEEE, white, #EEEEEE);
    background: -o-linear-gradient(#EEEEEE, white, #EEEEEE);
    background: -moz-linear-gradient(#EEEEEE, white, #EEEEEE);
    background: linear-gradient(#EEEEEE, white, #EEEEEE);
}
h6 i.fa-sort-desc {
    float: right;
    margin-right: 7px;
}
.accordion div.ui-accordion-content {
    border: 1px solid #CCD0D4;
    border-radius: 3px;
    border-top: 0;
    margin-top: -5px;
}

.nowrap{
    white-space: nowrap;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.closeReportTab {
    cursor: pointer;
}
.closeReportTab:hover{
    opacity: 0.5;
}
/* HTML CSS */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.MsgBox {
    position: absolute; 
    top: 70px; 
    margin: 0px auto; 
    left: 20px; 
    right: 20px; 
    padding: 20px;
}
.confirm_shadow {
    position: absolute;
    left: 5px;
    right: 5px;
    height: 100%;
    background: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    animation: fadeIn .2s;
    -webkit-animation: fadeIn .2s;
    z-index: 1020;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.confirm {
    position: absolute;
    left: 10px;
    right: 10px;
    margin-top: 5px;
    background: #fff;
    animation: fadeIn .2s;
    -webkit-animation: fadeIn .2s;
    z-index: 1021;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #D9E0E7;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*----- widgetsreport -------*/
#widgetsreport select#group,
#widgetsreport select#subgroup,
#widgetsreport select#unit,
#widgetsreportdynamo select#group,
#widgetsreportdynamo select#subgroup,
#widgetsreportdynamo select#unit,
#widgetsreporttelemetria select#group,
#widgetsreporttelemetria select#subgroup,
#widgetsreporttelemetria select#unit,
#widgetsreporttelemetria select#group_motoristas,
#widgetsreporttelemetria select#motoristas,
#widgetsreporthidro select#group,
#widgetsreporthidro select#subgroup,
#widgetsreporthidro select#unit, 
#widgetsreportstop select#group,
#widgetsreportstop select#subgroup,
#widgetsreportstop select#unit, 
#widgetsreportstoppoi select#group,
#widgetsreportstoppoi select#subgroup,
#widgetsreportstoppoi select#unit, 
#widgetsreportstoppoi select#group_poi,
#widgetsreportstoppoi select#pois,
#widgetsreportkm select#group,
#widgetsreportkm select#subgroup,
#widgetsreportkm select#unit {
    height: 90px;
}

#widgetsreport .tree .eventTree, 
#widgetsreport select#group,
#widgetsreport select#subgroup,
#widgetsreport select#unit,
#widgetsreportdynamo .tree .eventTree, 
#widgetsreportdynamo select#group,
#widgetsreportdynamo select#subgroup,
#widgetsreportdynamo select#unit,
#widgetsreporttelemetria .tree .eventTree, 
#widgetsreporttelemetria select#group,
#widgetsreporttelemetria select#subgroup,
#widgetsreporttelemetria select#unit,
#widgetsreporthidro .tree .eventTree, 
#widgetsreporthidro select#group,
#widgetsreporthidro select#subgroup,
#widgetsreporthidro select#unit,
#widgetsreportstop .tree .eventTree, 
#widgetsreportstop select#group,
#widgetsreportstop select#subgroup,
#widgetsreportstop select#unit,
#widgetsreportstoppoi .tree .eventTree, 
#widgetsreportstoppoi select#group,
#widgetsreportstoppoi select#group_poi,
#widgetsreportstoppoi select#unit,
#widgetsreportkm .tree .eventTree, 
#widgetsreportkm select#group,
#widgetsreportkm select#subgroup,
#widgetsreportkm select#unit {
    border: 1px solid #CCD0D4;
    border-radius: 3px;
}
#widgetsreport .tree .eventTree,
#widgetsreporttelemetria .tree .eventTree,
#widgetsreportdynamo .tree .eventTree {
    height: 174px;
    overflow: auto;
}

.selectedUnitList {
    border: 1px solid #CCD0D4;
    border-radius: 3px;
}
.selectedUnit {
    border-radius: 4px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
}

.selectedPOIList {
    border: 1px solid #CCD0D4;
    border-radius: 3px;
}
.selectedPOI {
    border-radius: 4px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
}

.selectedMotoristasList {
    border: 1px solid #CCD0D4;
    border-radius: 3px;
}
.selectedMotorista {
    border-radius: 4px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
}

#widgetsreport .select-loader,
#widgetsreportdynamo .select-loader,
#widgetsreporthidro .select-loader,
#widgetsreportstop .select-loader,
#widgetsreportstoppoi .select-loader, 
#widgetsreporttelemetria .select-loader, 
#widgetsreportkm .select-loader {
    height: 90px !important;
}

#widgetsreportkm thead {
    display: none;
}
#widgetsreportkm .dv-td {
    display: inline-block;
    width: 12%;
    text-align: center;
}
#widgetsreportkm .dv-tr-header {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 20px;
    text-align: center;
}
#widgetsreportkm .dv-tr {
    border-bottom: 1px solid #C1CCD1;
    padding: 3px;
}
/*----- widgetsunitmonitor -------*/

#widgetsunitmonitor  table.dataTable {
    table-layout: auto !important;
}
#widgetsunitmonitor .dataTables_scroll {
    border-left: 1px solid #E2E7EB;
    border-right: 1px solid #E2E7EB;
}
#widgetsunitmonitor table > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: none;
}
#widgetsunitmonitor .table-striped tbody tr.highlight td,
#widgetsunitmonitor table tbody tr:hover {
    background-color: #242a30 !important;
    color: #ffffff;
}
#widgetsunitmonitor table.dataTable > tbody > tr > td {
    padding: 2px 5px !important;
}
#table-list-unitmonitor_filter {
    display: none !important;
}
/*----- MAP -------*/
#map { 
    position: absolute; 
    top:0; 
    left:0; 
    bottom:0; 
    width:100%; 
}
#map-content {
    width:  100%;
    height: 350px;
}
/*IMPORTANTE*/
.leaflet-bottom.leaflet-right {
    display: none;
}

#map-content .leaflet-div-icon {
    background: transparent;
    border: none;
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.5);
}

#map .panel-body {
    padding: 0;
}
#widgetsmapbox .panel-body {
    min-height: 0px;
}

.leaflet-popup-content-wrapper {
    background: none !important;
}
.custom-bubble{
    width: 420px;
    height: 250px;
}
a.leaflet-popup-close-button {
    left: 328px;
    top: 19px;
    z-index: 3;
}
.leaflet-popup-tip{
    display: none;
}
.bubble-content
span.fa-stack.fa-lg.icon-ignition {
    position: absolute;
    top: -20px;
    font-size: 20px;
    left: -20px;
}

#widgetsmapbox .removePath {
    position: absolute;
    top: 74px;
    left: 10px;
    background-color: #FFF !important;
    color: #424242 !important;
    font-weight: bold;
    border: 1px solid #999;
}
#widgetsmapbox .conStopData.border {
    border: 1px solid #DEDEDF;
    padding: 5px;
    border-radius: 3px;
}

#widgetsmapbox .leaflet-popup-content-wrapper {
    box-shadow: none !important;
}
.bubble-content {
    position: absolute;
    display: inline-block;
    width: 340px;
    height: 230px;
    background-color: #fff;
    border: none;
    border-radius: 0px 0px 0px 25px;
    -webkit-box-shadow: 11px 1px 19px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 11px 1px 19px -5px rgba(0,0,0,0.5);
    box-shadow: 11px 1px 19px -5px rgba(0,0,0,0.5);
    z-index: 2;
}
    .bubble-content:after {
        right: 100%;
        top: 62%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: #f59c1a;
        border-width: 15px;
    }
    .bubble-content .div-contant-basic {
        padding-top: 2px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        color: #606060;        
    }
        .bubble-content .bubble-title {
            font-size: 12px;
            font-weight: bold;
        }
        .bubble-content .bubble-label {
            font-size: 15px;
            font-weight: bold;
            margin-left: 10px;
        }
        .bubble-content .bubble-text {
            font-size: 10px;
        }
        .bubble-content .bubble-line {
            border-bottom: 1px solid #606060;
        }
        .bubble-content .bubble-indication {
            color: #fff;
            background-color: #7a7a7a;
            text-align: center;
            border-radius: 20px;
        }
        .bubble-content-item{
            height: 153px;
        }

.bubble-menu {
    position: absolute;
    display: inline-block;
    border: none;
    /*border-radius: 0px 25px 0px 0px;*/
    width: 40px;
    height: 230px;
    left: 351px;
    z-index: 1;
}
    .bubble-menu-item {
        border: none;        
        width: 40px;
        height: 50px;
        color: #fff;
        padding-left: 8px;
        padding-top: 13px;
        cursor: pointer;
    }
    .bubble-menu-item:hover {
        opacity: 0.8;
    }

.leaflet-popup-content {
    /* border: 1px solid #000 !important; */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

.popupPOIclass{
    bottom: 0px !important;
}
    .popupPOIclass .leaflet-popup-content {
        background-color: #fff;
        border-radius: 15px;
        border: none;
    }
    .popupPOIclass .leaflet-popup-content:after {
        left: 50%;
        border: solid transparent;
        content: " ";
        position: absolute;
        border-top-color: #fff;
        border-width: 11px;
        bottom: 0px;
        margin-left: -11px;
    }



#widgetsmapbox .leaflet-marker-icon.leaflet-div-icon.leaflet-editing-icon {
    background-color: #FFFFFF !important;
    border: 1px solid #242A30 !important;
}

.dv-cluster-poi {
    background-color: rgba(146, 212, 102, 0.80);
    border-radius: 3px;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
}

/* 2.4 Sidebar & sidebar elements */

#widgetsmapbox #mapSidebar input[type="checkbox"] {
    position: absolute;
    margin-top: 8px;
    margin-left: -9px;
    z-index: 1;
}
#widgetsmapbox #mapSidebar input.primary-checkbox {
    margin-left: 7px !important;
    margin-top: 12px !important;
}
#widgetsmapbox #mapSidebar {
    background-color: #242A30;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
}
.mapSidebarPadding {
    padding: 5px;
    padding-right: 0px;
}

#widgetsmapbox #openmapSidebar {
    position: absolute;
    left: -25px;
    top: 10px;
    background-color: #242A30;
    width: 25px;
    height: 31px;
    border-radius: 7px 0px 0px 7px;
    padding: 3px;
    cursor: pointer;
}
#widgetsmapbox #mapSidebarContent {
    overflow-y: auto;
    height: 100%;
}
#widgetsmapbox input.mapstyle {
    position: absolute;
    margin-top: 8px;
    margin-left: -9px;
    z-index: 10;
}
#widgetsmapbox .color-icon {
    font-size: 15px;
    float: left;
    margin-top: 6px;
    margin-left: -41px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 1px;
}

.mapSidebar {
    /*
    width: 220px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
     padding-top: 54px; */
    background: #2d353c;
    z-index: 10;
    -webkit-transform: translateZ(0);
}
.mapSidebar-bg {
    background: #2d353c;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    z-index: 0;
}
.mapSidebar .nav > li:before,
.mapSidebar .nav > li:after,
.mapSidebar .nav > li > a:before,
.mapSidebar .nav > li > a:after {
    content: '';
    clear: both;
    display: table;
}
.mapSidebar .nav > li > a {
    padding: 8px 20px;
    line-height: 20px;
    color: #a8acb1;
}
.mapSidebar.mapSidebar-grid .nav > li > a {
    border-bottom: 1px solid #383f46;
    border-top: 1px solid #383f46;
}
.mapSidebar.mapSidebar-grid .nav > li.active > a {
    border-color: #2d353c;
    z-index: 10;
}
.mapSidebar.mapSidebar-grid .nav > li + li {
    margin-top: -1px;
}
.mapSidebar .nav > li.active > a .label.label-theme,
.mapSidebar .nav > li.active > a .badge {
    background: url(../img/transparent/black-0.4.png);
    background: rgba(0,0,0,0.4);
}
.mapSidebar .nav > li.expand > a,
.mapSidebar .nav > li > a:hover,
.mapSidebar .nav > li > a:focus {
    background: #232a2f;
    color: #a8acb1;
}
.mapSidebar .nav > li.active > a, 
.mapSidebar .nav > li.active > a:hover, 
.mapSidebar .nav > li.active > a:focus {
    color: #fff;
    background: #00acac;
}
.mapSidebar .nav > li.active > a .label.label-success,
.mapSidebar .nav > li.active > a .badge.badge-success {
    background: #008a8a;
}
.mapSidebar .nav > li > a i {
    float: left;
    margin-right: 15px;
    width: 14px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
.mapSidebar .nav > li > a i[class*="ion-"] {
    margin-right: 11px;
    width: 18px;
    font-size: 18px;
}
.mapSidebar .nav > li > a .badge {
    margin-top: 1px;
    padding: 3px 8px;
    background: #1b1f24;
    font-weight: 300;
    font-size: 10px;
}
.mapSidebar .nav > li > a .caret {
    float: right;
    margin-top: 9px;
}
.mapSidebar .has-sub.active > .sub-menu {
    display: block;
}
.mapSidebar .sub-menu {
    list-style-type: none;
    padding: 10px 0 10px 30px;
    margin: 0;
    background: #1a2229;
    position: relative;
    display: none;
}
.mapSidebar .sub-menu:before {
    content: '';
    position: absolute;
    left: 26px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #10181F;
}
.mapSidebar .sub-menu .sub-menu {
    padding: 0 0 0 30px;
    background: none;
}
.mapSidebar .sub-menu > li > a {
    padding: 5px 20px;
    display:block;
    font-weight: 300;
    color: #889097;
    text-decoration: none;
    position: relative;
}
.mapSidebar .sub-menu > li > a:before {
    content: '\f10c';
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    font-size: 7px;
    color: #889097;
    top: 50%;
    margin-top: -4px;
    margin-left: -6px;
}
.mapSidebar .sub-menu > li > a:hover,
.mapSidebar .sub-menu > li > a:focus,
.mapSidebar .sub-menu > li.active > a,
.mapSidebar .sub-menu > li.active > a:hover,
.mapSidebar .sub-menu > li.active > a:focus {
    color: #fff;
}
.mapSidebar .nav > li li.has-sub.active > a {
    color: #889097;
}
.mapSidebar .sub-menu > li.active > a:before {
    color: #00acac;
}
.mapSidebar .nav .sub-menu > li > a .caret {
    float: right; 
    margin-top: 7px;
}
.mapSidebar .nav > li.nav-header {
    margin: 0;
    padding: 10px 20px;
    line-height: 20px;
    font-size: 11px;
    color: #6d7983;
}
.mapSidebar .nav > li.nav-header a {
    padding: 0;
    margin: 0;
    display: inline;
}
.mapSidebar .nav > li.nav-header a:hover,
.mapSidebar .nav > li.nav-header a:focus {
    background: none;
    color: #fff;
}
.mapSidebar .nav > li.nav-header a i {
    float: none;
    margin: 0;
}
.mapSidebar .nav > li.nav-profile {
    padding: 20px;
    color: #fff;
    background: #1a2229;
}
.mapSidebar .nav > li.nav-profile a {
    padding: 0;
}
.mapSidebar .nav > li.nav-profile .image {
    float: left;
    width: 34px;
    height: 34px;
    margin-top: 2px;
    margin-right: 15px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.mapSidebar .nav > li.nav-profile .image img {
    max-width: 100%;
    max-height: 100%;
}
.mapSidebar .nav > li.nav-profile .info {
    font-size: 14px;
}
.mapSidebar .nav > li.nav-profile .info small {
    display: block;
    color: #889097;
}
.mapSidebar .nav > li.nav-widget {
    padding: 10px 20px;
}
.mapSidebar .nav > li.nav-widget i {
    margin-right: auto;
}
.page-mapSidebar-minified .mapSidebar {
    width: 60px;
    position: absolute;
}
.page-mapSidebar-minified .mapSidebar-bg {
    width: 60px;
}
.page-mapSidebar-minified .content {
    margin-left: 60px;
}
.page-mapSidebar-minified .footer {
    margin-left: 85px;
}
.page-mapSidebar-minified .mapSidebar .slimScrollDiv,
.page-mapSidebar-minified .mapSidebar .slimScrollDiv > div {
    overflow: visible !important;
}
.page-mapSidebar-minified .mapSidebar .nav > li > a {
    padding: 12px 20px;
}
.page-mapSidebar-minified .mapSidebar .nav-profile,
.page-mapSidebar-minified .mapSidebar .nav-header,
.page-mapSidebar-minified .mapSidebar .nav > li > a > span {
    display: none;
}
.page-mapSidebar-minified .mapSidebar .caret {
    position: absolute;
    top: 9px;
    right: 9px;
    border: 4px solid transparent;
    border-left: 4px solid;
}
.page-mapSidebar-minified .mapSidebar .sub-menu .caret {
    top: 10px;
    margin-top: 0 !important;
}
.page-mapSidebar-minified .mapSidebar .nav > li > a > i {
    margin: 0;
}
.page-mapSidebar-minified .mapSidebar .nav li.has-sub > .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    width: 220px;
    display: none;
    padding: 10px 0 10px 30px;
    margin: 0;
    background: #1a2229;
}
.page-mapSidebar-minified .mapSidebar .nav > li.has-sub:hover > a,
.page-mapSidebar-minified .mapSidebar .nav > li.has-sub:focus > a {
    background: #232a2f;
}
.page-mapSidebar-minified .mapSidebar li.has-sub > .sub-menu {
    display: none !important;
}
.page-mapSidebar-minified .mapSidebar li.has-sub:hover > .sub-menu,
.page-mapSidebar-minified .mapSidebar li.has-sub:focus > .sub-menu {
    display: block !important;
    overflow: visible !important;
}
.page-mapSidebar-minified .mapSidebar .nav li.has-sub {
    position: relative;
}
.page-mapSidebar-minified .mapSidebar .nav > li.has-sub li.has-sub .sub-menu {
    margin-top: -10px;
}
.mapSidebar-minify-btn {
    margin: 10px 0;
    float: right;
    padding: 5px 20px 5px 10px !important;
    background: #1b1f24;
    color: #fff;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}
.mapSidebar-minify-btn i {
    margin: 0 !important;
    color: #fff;
}
.page-mapSidebar-minified .mapSidebar-minify-btn i:before {
    content: '\f101';
}
.page-mapSidebar-minified.page-with-right-mapSidebar .content {
    margin-right: 60px;
    margin-left: 0;
}
.page-mapSidebar-minified.page-with-right-mapSidebar .footer {
    margin-right: 85px;
    margin-left: 25px;
}
.page-mapSidebar-minified.page-with-right-mapSidebar .sub-menu {
    left: auto !important;
    right: 100%;
}
.page-mapSidebar-minified.page-with-right-mapSidebar .nav > li.has-sub > a .caret {
    position: absolute;
    left: 5px;
    border: 4px solid transparent;
    border-right: 4px solid;
}
.page-mapSidebar-minified.page-with-right-mapSidebar .mapSidebar .sub-menu .caret {
    left: 0;
    top: 2px;
    border-left: 4px solid transparent !important;
    border-right: 4px solid !important;
}
.page-mapSidebar-minified.page-with-right-mapSidebar .mapSidebar .nav li.has-sub > .sub-menu {
    padding: 10px 30px 10px 0;
}
.page-mapSidebar-minified.page-with-right-mapSidebar .mapSidebar .sub-menu:before {
    right: 26px;
    left: auto;
}
.page-mapSidebar-minified.page-with-right-mapSidebar .mapSidebar .sub-menu > li > a:before {
    right: 0;
    left: auto;
    margin-right: -6px;
    margin-left: 0;
}
.page-mapSidebar-minified.page-with-right-mapSidebar .mapSidebar-minify-btn i:before {
    content: '\f100';
}
.page-mapSidebar-minified .mapSidebar .slimScrollBar,
.page-mapSidebar-minified .mapSidebar .slimScrollRail {
    display: none !important;
}
.mapSidebar .sub-menu > li > a:before {
    color: rgba(136, 144, 151, 0);
}







/*-----LOADER-------*/
#loadingProgressG{
    width:100%;
    height:10px;
    overflow:hidden;
    background-color:rgb(36,42,48);
    margin:auto;
    border-radius:7px;
        -o-border-radius:7px;
        -ms-border-radius:7px;
        -webkit-border-radius:7px;
        -moz-border-radius:7px;
}

.loadingProgressG{
    background-color:rgb(255,255,255);
    margin-top:0;
    margin-left:-186px;
    animation-name:bounce_loadingProgressG;
        -o-animation-name:bounce_loadingProgressG;
        -ms-animation-name:bounce_loadingProgressG;
        -webkit-animation-name:bounce_loadingProgressG;
        -moz-animation-name:bounce_loadingProgressG;
    animation-duration:1.5s;
        -o-animation-duration:1.5s;
        -ms-animation-duration:1.5s;
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-timing-function:linear;
        -o-animation-timing-function:linear;
        -ms-animation-timing-function:linear;
        -webkit-animation-timing-function:linear;
        -moz-animation-timing-function:linear;
    width:100%;
    height:10px;
}
@keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}
@-o-keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}
@-ms-keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}
@-webkit-keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}
@-moz-keyframes bounce_loadingProgressG{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}

/* circulo equeno que gira e tem uma abertura */
@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: 2px solid #38e;
  border-right-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
}

/* tres pontinhos */
.spinner_dots {
  width: 55px;
  text-align: center;
  display: inline-block;
}

.spinner_dots > div {
  width: 5px;
  height: 5px;
  background-color: #242A30;
  margin-left: 5px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner_dots .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner_dots .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


/**
 * CSS TOUR
 */
div.popover {
    border: none !important;
    border-radius: 3px;
}

#step-0 [data-role=prev],
#step-3 [data-role=next],
#step-4 [data-role=next],
#step-5 [data-role=next],
#step-6 [data-role=next],
#step-7 [data-role=next],
#step-8 [data-role=next] {
    display: none;
}
#step-0 [data-role=next]{
    border-radius: 3px;    
}