<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsreportdynamo">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs fristAction">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsreportdynamo-dropdown" role="menu">
            	
            </ul>
        </div>
        <h4 class="panel-title">Histórico Dynamo</h4>
    </div>
    <div class="panel-body"> 

		<ul class="nav nav-tabs" id="widgetsreportdynamo-nav" onclick="changeActiveMenu(event)">
			<li class="active"><a href="#tab-search-dynamo"  id="search-dynamo" data-toggle="tab">Filtros</a></li>			
		</ul> 	

		<div class="col-md-12 p-l-0 p-r-0 tab-content">
			
			<div class="col-md-12 tab-pane fade active in" id="tab-search-dynamo">	
				<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="no-padding hidden">

					
					<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px !important;">
						<div class="col-md-8 col-sm-8 col-xs-8 no-padding">
							<div class="col-md-12 col-sm-12 col-xs-12">
			        			<label>Data Início</label>
			        		</div>
		    				<div class="col-md-6 col-sm-6 col-xs-6">
								<input type="text" name="start_day" id="start_day" class="form-control input-sm pluginDate" value="" placeholder="De" required="required"/>
							</div>	
		    				<div class="col-md-6 col-sm-6 col-xs-6 clockpicker">
								<input type="time" name="start_hour" id="start_hour" class="form-control input-sm check_hour" value="00:00" required="required"/>
							</div>	

							<div class="col-md-12 col-sm-12 col-xs-12">
			        			<label>Data Fim</label>
			        		</div>
		    				<div class="col-md-6 col-sm-6 col-xs-6">
								<input type="text" name="end_day" id="end_day" class="form-control input-sm pluginDate" value="" placeholder="Até" required="required"/>
							</div>	
		    				<div class="col-md-6 col-sm-6 col-xs-6 clockpicker">
								<input type="time" name="end_hour" id="end_hour" class="form-control input-sm check_hour" value="00:00" required="required"/>
							</div>

						    <div class="form-group col-md-12 col-sm-12 col-xs-12">
						    	<label>Velocidade</label>
						    	<div class="speed-rule">
									<input type="text" name="speed" id="speed" class="range" />
								</div>
							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 no-padding">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<label>Eventos</label>
			        		</div>
							<div class="col-md-12 col-sm-12 p-0 tree event-tree">
								<div class="form-group eventTree"></div>
							</div>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
							<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">
								<label>Seleciona as Unidades para gerar o relatório</label>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">	
									<label>Grupos</label>
								</div>
								<select id="group" name="group" class="form-control input-sm" multiple>
									<option value="0" selected>Todos</option>
								</select>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">	
									<label>Subgrupos</label>
								</div>
								<select id="subgroup" name="subgroup" class="form-control input-sm" multiple>
									<option value="0" selected>Todos</option>
								</select>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12 titleSelectInput">
									<input type="search" id="searchUnits" name="searchUnits" title="Digite ao menos 3 caracteres" class="form-control input-sm" placeholder="Pesquisar Unidades" />
								</div>	
								<select id="unit" name="unit" class="form-control input-sm" multiple>
									<option value="0" selected>Todos</option>
								</select>
							</div>

							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">	
									<label>Unidades Selecionadas</label>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 selectedUnitList"><div class="selectedUnit bg-color-primary no-select" id="0" title="Click para remover esse unidade">Todos</div></div>
							</div>	
						</div>	
					</div>
		        		

					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x icon-search"></i> Buscar</button>
					</div>

				</form>

				<div id="loadingProgressG" class="load-report">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>		

		</div>	
		<!-- ### SCRIPTS DIVERSOS ### -->
    	<script src="widgets/reportdynamo/reportdynamo.js"></script>
    </div>
</div>
