<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsdrivers">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsdrivers-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm">Adicionar Motorista</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Motoristas</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> Motorista 
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<input type="hidden" name="id" id="id" value="1" />
			<input type="hidden" name="account_id" id="account_id" value="" /> 

			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Nome</label>
				<input type="text" class="form-control input-sm" name="name" id="name" placeholder="Nome do motorista" data-parsley-length="[2, 20]" required="required" />
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
        		<label>E-mail</label>
				<input type="email" class="form-control input-sm" name="email" id="email" placeholder="E-mail do motorista" data-parsley-length="[2, 100]" required="required" />
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
        		<label>Telefone</label>
				<input type="text" class="form-control input-sm tel" name="phone" id="phone" placeholder="Telefone do motorista" required="required" />
			</div>
			<div class="col-md-12 col-sm-12 col-xs-6">
				<label>Tipo de Autenticação</label>
				<select name="auth" id="auth" class="form-control input-sm" required="required">
					<option value="1">Matrícula</option>
					<option value="2">Login/Senha</option>
				</select>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 auth" style="padding: 0px !important">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label>Matrícula/Login/iButton</label>
					<input type="text" class="form-control input-sm" name="login" id="login" data-parsley-length="[3, 10]" placeholder="Login" required="required" />
				</div>
			</div>
			<div class="form-group checkbox col-md-12 col-sm-12 edit reset_password">
				<label><input type="checkbox" value="1" id="reset_password" />Deseja resetar senha?</label>				
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<label>CNH</label>
				<input type="text" class="form-control input-sm" name="cnh" id="cnh" data-parsley-length="[7, 11]" placeholder="Nº do CNH" required="required" />
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<label>Categoria CNH</label>
				<select name="cnh_category" id="cnh_category" class="form-control input-sm" required="required">
					<option selected disabled>Categorias</option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
					<option value="E">E</option>
					<option value="AB">AB</option>
					<option value="ACC">ACC</option>
					<option value="ACCB">ACCB</option>
				</select>
			</div>				
			<div class="col-md-6 col-sm-6 col-xs-6">
				<label>Validade CNH</label>
				<input type="text" name="cnh_validate" id="cnh_validate" class="form-control input-sm pluginDate" placeholder="dd/mm/aaaa" required="required" />
			</div>

			<div class="col-md-12 col-sm-12">
				<label>Grupo</label>
				<select name="group" id="group" class="form-control input-sm selectGroup" required="required">
					<option value="">Selecione um grupo</option>
				</select>
			</div>
			
			<div class="col-md-12 col-sm-12 valeFields hidden">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label>Passaporte</label>
					<input type="text" class="form-control input-sm" name="passport" id="passport" data-parsley-length="[5, 10]" placeholder="Nº do Passaporte"/>
				</div>					
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label>Função</label>
					<select name="function" id="function" class="form-control input-sm">
						<option value="">Selecione uma função</option>
					</select>
				</div>					
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label>Área</label>
					<input type="text" class="form-control input-sm" name="area" id="area" data-parsley-length="[2, 100]" placeholder="Área"/>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label>Empresa</label>
					<input type="text" class="form-control input-sm" name="empresa" id="empresa" data-parsley-length="[1, 100]" placeholder="Nome da Empresa"/>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<label>Gestor</label>
					<input type="text" class="form-control input-sm" name="gestor" id="gestor" data-parsley-length="[2, 100]" placeholder="Nome do Gestor"/>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<label>Telefone do gestor</label>
					<input type="text" class="form-control input-sm tel" name="gestor_tel" id="gestor_tel"/>
				</div>	
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label>Localidade</label>
					<input type="text" class="form-control input-sm" name="local" id="local" placeholder="Localidade"/>
				</div>	
				<div class="col-md-6 col-sm-6 col-xs-6">
					<label>Validade RAC</label>
					<input type="text" class="form-control input-sm pluginDate" name="rac_validate" id="rac_validate" placeholder="dd/mm/aaaa"/>
				</div>	
				<div class="col-md-6 col-sm-6 col-xs-6">
					<label>Validade ASO</label>
					<input type="text" class="form-control input-sm pluginDate" name="aso_validate" id="aso_validate" placeholder="dd/mm/aaaa"/>
				</div>
			</div>

			<div class="form-group checkbox col-md-12 col-sm-12 edit assoc-validation-check">
				<label><input type="checkbox" id="assoc-driver-manager" />Deseja associar unidades a esse motorista?</label>				
			</div>

			<div class="col-md-12 col-sm-12 edit assoc-validation">

				<div class="col-md-12 col-sm-12 header-text">
					<label>Unidades Associadas</label>
					<label style="float: right;">
	        			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning resend" style="line-height: 0px; margin-right: 7px;" disabled title="Reenviar unidades"><i class="fa fa-rss" style="margin-left: 1px; margin-top: -1px;" ></i></a>
	        			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success assoc-unit" style="line-height: 0px;" disabled title="Editar Associação de Unidades"><i class="fa fa-edit"></i></a>
					</label>
				</div>
			
				<div class="col-md-12 col-sm-12" style="padding: 0px !important;">
					<div id="create-table-drivers-unit"></div>
				</div>
			
				<div class="col-md-12 col-sm-12 assoc-unit-div hidden"></div>

			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
			</div>

	 	</form>	

	 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box hidden">
		 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box-in">
				<h5>
					<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i>Visualizar Motorista 
					<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
				</h5>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Nome
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_name"/>
				</div>

				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-12 col-sm-12 m-b-12 no-select visualize-title">
						E-mail
					</div>
					<div class="col-md-12 col-sm-12 m-b-12 no-select visualize-content">
						<span class="lbl_email" />
					</div>
				</div>	
				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-12 col-sm-12 m-b-12 no-select visualize-title">
						Telefone
					</div>
					<div class="col-md-12 col-sm-12 m-b-12 no-select visualize-content text-center">
						<span class="lbl_phone" />
					</div>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Tipo de Autenticação
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_auth"/>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Matrícula
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_matricula"/>
				</div>
				
				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					CNH
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_cnh"/>
				</div>

				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-12 col-sm-12 m-b-12 no-select visualize-title">
						Categoria CNH
					</div>
					<div class="col-md-12 col-sm-12 m-b-12 no-select visualize-content">
						<span class="lbl_cnh_category" />
					</div>
				</div>	
				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-12 col-sm-12 m-b-12 no-select visualize-title">
						Validade CNH
					</div>
					<div class="col-md-12 col-sm-12 m-b-12 no-select visualize-content text-center">
						<span class="lbl_cnh_validate" />
					</div>
				</div>				

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Grupo
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_group" />
				</div>

				<div class="col-md-12 col-sm-12 valeFields hidden">
	
					<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
						Passaporte
					</div>	
					<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
						<span class="lbl_passport"/>
					</div>	

					<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
						Função
					</div>	
					<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
						<span class="lbl_function" />
					</div>	

					<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
						Área
					</div>	
					<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
						<span class="lbl_area" />
					</div>

					<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
						Empresa
					</div>	
					<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
						<span class="lbl_empresa" />
					</div>

					<div class="col-md-6 col-sm-6 m-b-12">
						<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
							Gestor
						</div>	
						<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
							<span class="lbl_gestor" />
						</div>
					</div>	
					<div class="col-md-6 col-sm-6 m-b-12">					
						<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
							Telefone do gestor
						</div>	
						<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
							<span class="lbl_tel_gestor" />
						</div>
					</div>

					<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
						Localidade
					</div>	
					<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
						<span class="lbl_local" />
					</div>

					<div class="col-md-6 col-sm-6 m-b-12">
						<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
							Validade RAC
						</div>	
						<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
							<span class="lbl_rac_validade" />
						</div>
					</div>	
					<div class="col-md-6 col-sm-6 m-b-12">					
						<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
							Validade ASO
						</div>	
						<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
							<span class="lbl_aos_validade" />
						</div>
					</div>

				</div>

				<div class="col-md-12 col-sm-12 assoc-validation">
					<div class="col-md-12 col-sm-12 header-text" style="margin-top: 5px;">
						<label>Unidades Associadas</label>
					</div>
				
					<div class="col-md-12 col-sm-12" style="padding: 0px !important;">
						<div id="create-table-drivers-unit-view"></div>
					</div>
				</div>

		 	</div>	
	 	</div>	

		<div class="col-md-12">	
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/drivers/drivers.js"></script>
    </div>
</div>