/*###################### INDEX LOGIN #######################*/
.bg-black {
    background: #d9e0e7 !important;
}
body {
    background: #fff url(../img/bg_login_2.png) repeat;
}
.imgFundoTop {
    background: #fff url(../img/bg_login.png) repeat-x;
    position: absolute;
    width: 100%;
    height: 134px;
    top: 0px;
}
.login label {
    color: #000000;
}
.login .img {
    width: auto !important;
}
.login .login-header {
    position: absolute;
    top: -138px;
    left: 50%;
    width: 450px;
    padding: 0px;
    margin-left: -225px;
    text-align: center;
}


/*####################### SIDE BAR #######################*/
.sidebar, 
.sidebar-bg {
    background: #B7B7B7;
}
.page-sidebar-fixed .sidebar {
    webkit-box-shadow: 9px 11px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 32px -8px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 32px -8px rgba(0,0,0,0.75);
}
.sidebar .nav > li.nav-profile {    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,999999+79 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 2%, #B7B7B7 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 2%,#B7B7B7 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF 2%,#B7B7B7 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#B7B7B7',GradientType=0 ); /* IE6-9 */
}
.sidebar .nav > li > a {
    color: #fff !important;
}
.sidebar .nav > li.nav-profile .image {
    float: none;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-right: 0px;
    overflow: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 14px;
}
.sidebar .nav > li.nav-profile .info small {
    color: #FFFFFF;
}
.nav-profile > a.dropdown-toggle:hover,
.nav-profile > a.dropdown-toggle:focus, 
.nav-profile > a.dropdown-toggle:before,
.nav-profile > a.dropdown-toggle:active,
.nav-profile > a.dropdown-toggle.active {
    background: none !important;
}

.navbar.navbar-inverse .navbar-brand, 
.sidebar .nav > li.active > a, 
.sidebar .nav > li.active > a:focus, 
.sidebar .nav > li.active > a:hover, 
.flat-black .sidebar .nav > li.active > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a, 
.label.label-theme, .btn.btn-scroll-to-top {
    color: #000 !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a8a8a8+0,bcbcbc+10,fcfcfc+50,b5b5b5+93,a5a5a5+100 */
    background: rgb(168,168,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(168,168,168,1) 0%, rgba(188,188,188,1) 10%, rgba(252,252,252,1) 50%, rgba(181,181,181,1) 93%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
}
.sidebar .sub-menu:before {
    background: #D5D5D5;
}
.sidebar .sub-menu, .page-sidebar-minified .sidebar .nav li.has-sub > .sub-menu {
    background: #D5D5D5;
}
.sidebar .sub-menu > li > a {
    color: #000;
}
.sidebar .sub-menu > li > a:hover, 
.sidebar .sub-menu > li > a:focus, 
.sidebar .sub-menu > li.active > a, 
.sidebar .sub-menu > li.active > a:hover, 
.sidebar .sub-menu > li.active > a:focus {
    font-weight: bold;
    color: #008CD1;
}
.sidebar-minify-btn {
    background: #008CD1;
}
.sidebar-minify-btn:hover,
.sidebar-minify-btn:before,
.sidebar-minify-btn:active {
    background: #25B2F7 !important;
}
.sidebar .fa-inverse {
    color: #000000 !important;
    font-size: 10px;
}

/*###################### WIDGETS #######################*/
.panel-inverse > .panel-heading {
    color: #000 !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a8a8a8+0,bcbcbc+10,fcfcfc+50,b5b5b5+93,a5a5a5+100 */
    background: rgb(168,168,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(168,168,168,1) 0%, rgba(188,188,188,1) 10%, rgba(252,252,252,1) 50%, rgba(181,181,181,1) 93%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
}
/*.panel-heading a.btn.btn-xs.btn-icon.btn-circle.btn-success {
    display: none;
}*/
/*-----LOADER-------*/
#loadingProgressG{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a8a8a8+0,bcbcbc+10,fcfcfc+50,b5b5b5+93,a5a5a5+100 */
    background: rgb(168,168,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(168,168,168,1) 0%, rgba(188,188,188,1) 10%, rgba(252,252,252,1) 50%, rgba(181,181,181,1) 93%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
}

.loadingProgressG{
    background-color: rgb(255,255,255);
}
.spinner_dots > div {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a8a8a8+0,bcbcbc+10,fcfcfc+50,b5b5b5+93,a5a5a5+100 */
    background: rgb(168,168,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(168,168,168,1) 0%, rgba(188,188,188,1) 10%, rgba(252,252,252,1) 50%, rgba(181,181,181,1) 93%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
}

#widgetsunitmonitor .table-striped tbody tr.highlight td,
#widgetsunitmonitor table tbody tr:hover {
    color: #000 !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a8a8a8+0,bcbcbc+10,fcfcfc+50,b5b5b5+93,a5a5a5+100 */
    background: rgb(168,168,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(168,168,168,1) 0%, rgba(188,188,188,1) 10%, rgba(252,252,252,1) 50%, rgba(181,181,181,1) 93%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
}
div.panel {
    -webkit-box-shadow: 9px 11px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 32px -8px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 32px -8px rgba(0,0,0,0.75);
}

/*###################### BUTTONS #######################*/
.btn.btn-success {
    color: #000;
    background: #E2E2E2;
    border-color: #999999;
}
.btn.btn-success:hover, 
.btn.btn-success:focus, 
.btn.btn-success:active, 
.btn.btn-success.active, 
.open .dropdown-toggle.btn-success {
    background: #01A2E5;
    border-color: #01A2E5;
}
.btn-group .btn.btn-success:not(.active) + .btn.btn-success,
.input-group-btn .btn.btn-success:not(.active) + .btn.btn-success {
    border-left-color: #0091D5;
}
.btn.btn-primary {
    color: #000;
    background: #E2E2E2;
    border-color: #009FE1;
}
.btn.btn-primary:hover, 
.btn.btn-primary:focus, 
.btn.btn-primary:active, 
.btn.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background: #0091D5;
    border-color: #0091D5;
}
.btn-group .btn.btn-primary:not(.active) + .btn.btn-primary,
.input-group-btn .btn.btn-primary:not(.active) + .btn.btn-primary {
    border-left-color: #0091D5;
}
.bg-color-on {
    background-color: #008CD1 !important;
    color: #ffffff !important;
}
.color-on {
    color: #008CD1 !important;
}
/*###################### MAP #######################*/
#widgetsmapbox #mapSidebar {
    background-color: #B7B7B7;
}
#widgetsmapbox #openmapSidebar {
    background-color: #B7B7B7;
}
.mapSidebar .nav > li.expand > a, 
.mapSidebar .nav > li > a:hover, 
.mapSidebar .nav > li > a:focus {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a8a8a8+0,bcbcbc+10,fcfcfc+50,b5b5b5+93,a5a5a5+100 */
    background: rgb(168,168,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(168,168,168,1) 0%, rgba(188,188,188,1) 10%, rgba(252,252,252,1) 50%, rgba(181,181,181,1) 93%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(168,168,168,1) 0%,rgba(188,188,188,1) 10%,rgba(252,252,252,1) 50%,rgba(181,181,181,1) 93%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
    color: #000 !important;
}
.mapSidebar .sub-menu {
    background: #D5D5D5;
    color: #000 !important;
}
.mapSidebar .sub-menu:before {
    background: #D5D5D5;
    color: #000 !important;
}
.bg-color-primary {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5a5a5+0,b5b5b5+7,fcfcfc+50,bcbcbc+90,a8a8a8+100 */
    background: rgb(165,165,165); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(165,165,165,1) 0%, rgba(181,181,181,1) 7%, rgba(252,252,252,1) 50%, rgba(188,188,188,1) 90%, rgba(168,168,168,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(165,165,165,1) 0%,rgba(181,181,181,1) 7%,rgba(252,252,252,1) 50%,rgba(188,188,188,1) 90%,rgba(168,168,168,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(165,165,165,1) 0%,rgba(181,181,181,1) 7%,rgba(252,252,252,1) 50%,rgba(188,188,188,1) 90%,rgba(168,168,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#a8a8a8',GradientType=1 ); /* IE6-9 */
}
.bg-color-primary.no-select {
    background: #008CD1 !important;
}
.bg-color-primary > i {
    color: #000 !important
}
.mapSidebar .sub-menu > li > a {
    color: #000 !important;
}
.mapSidebar .nav > li > a {
    color: #000 !important;
}
.bubble-menu .bg-color-on {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008cd1+0,008cd1+7,fcfcfc+50,008cd1+90,008cd1+100 */
    background: rgb(0,140,209); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(0,140,209,1) 0%, rgba(0,140,209,1) 7%, rgba(252,252,252,1) 50%, rgba(0,140,209,1) 90%, rgba(0,140,209,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,140,209,1) 0%,rgba(0,140,209,1) 7%,rgba(252,252,252,1) 50%,rgba(0,140,209,1) 90%,rgba(0,140,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,140,209,1) 0%,rgba(0,140,209,1) 7%,rgba(252,252,252,1) 50%,rgba(0,140,209,1) 90%,rgba(0,140,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cd1', endColorstr='#008cd1',GradientType=1 ); /* IE6-9 */

    color: #FFF !important;
}
.bubble-menu-item  > i.fa {
    color: #4A4646 !important;
}
.bubble-content {
    border-radius: 0px 0px 0px 0px rgba(0,0,0,0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    z-index: 2;
}
/*#widgetsmapbox #mapSidebar {
    border-left: 1px solid;
}
#widgetsmapbox #openmapSidebar {
    background-color: #E2E2E2;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}*/