<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetscerca">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetscerca-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm">Adicionar Cerca</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Cerca</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> Cerca 
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<input type="hidden" name="id" id="id" value="" />
			<input type="hidden" name="account_id" id="account_id" value="" /> 

			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Nome da Cerca</label>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12">
				<input type="text" class="form-control input-sm name" name="name" id="name" placeholder="Escolha um nome para a cerca" required="required"/>
			</div>
			
			<div class="col-md-6 col-sm-6 m-b-6 no-select">
				<label>Cor</label>
			</div>
			<div class="col-md-6 col-sm-6 m-b-6">
				<label>Área</label>
			</div>	

			<div class="col-md-6 col-sm-6 m-b-6 no-select">				
				<div class="input-toggles">
					<input class="color no-alpha form-control input-sm" value="" />
				</div>
			</div>
			<div class="col-md-5 col-sm-5 m-b-5">
				<select name="polygroup_type" id="polygroup_type" class="form-control input-sm selectGroup" required="required" disabled="disabled">
					<option value="">Selecione um tipo de área</option>
					<option value="1">Circulo</option>
					<option value="2">Quadrado</option>
					<option value="3">Polígonal</option>
				</select>
			</div>
			<div class="col-md-1 col-sm-1 m-b-1 no-select">
				<i class="fa fa-2x fa-globe icon_button call_map" title="Use o mapa para selecionar um ponto"></i>
			</div>

		    <div class="col-md-12 col-sm-12 col-xs-12">
		    	<label>Velocidade</label>
		    	<div>
					<input type="text" name="speed" id="speed" class="speed"/>
				</div>
			</div>

			<div class="form-group col-md-12 col-sm-12">
				<label>Grupo</label>
				<select name="group" id="group" class="form-control input-sm selectGroup" required="required">
					<option value="">Selecione um grupo</option>
				</select>
			</div>

			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Descrição</label>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12">
				<textarea rows="4" style="width: 100%;" class="form-control input-sm name" name="description" id="description" maxlength="250"></textarea>
			</div>

			<div class="form-group col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
			</div>

	 	</form>	

	 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box hidden">
		 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box-in">
				<h5>
					<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i>Visualizar Cerca 
					<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
				</h5>
					
				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Nome da Cerca
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<label class="lbl_local"/>
				</div>
				
				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Cerca&nbsp;<span class="lbl_type" />
				</div>	
				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-title">
						Cor
					</div>
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-content text-center">
						<label class="lbl_color" />
					</div>
				</div>	
				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-title">
						Velocidade
					</div>
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-content text-center">
						<label class="lbl_speed" />
					</div>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Grupo
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<label class="lbl_group" />
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Descrição
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<label class="lbl_description"/>
				</div>
		 	</div>	
	 	</div>	

		<div class="col-md-12">	
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/cerca/cerca.js"></script>
    </div>
</div>