<!-- ================== BEGIN BASE JS ================== -->
<script src="../assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="../assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="../assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="../assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="../assets/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script>
<!--[if lt IE 9]>
	<script src="assets/crossbrowserjs/html5shiv.js"></script>
	<script src="assets/crossbrowserjs/respond.min.js"></script>
	<script src="assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="../assets/plugins/jquery-hashchange/jquery.hashchange.min.js"></script>
<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="../assets/plugins/DataTables/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/mustache/mustache.js"></script>
<script src="../assets/plugins/clockpicker/src/clockpicker.js"></script>
<script src="../assets/js/jstree.js"></script>
<script src="../assets/plugins/masked-input/masked-input.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ### SELECT ICONS ### -->
<script src="../assets/plugins/fontIconPicker/jquery.fonticonpicker.js"></script>

<script src="../assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
<script src="../assets/plugins/jsPDF/dist/jspdf.min.js"></script>
<script src="../assets/plugins/jsPDF-AutoTable-master/dist/jspdf.plugin.autotable.src.js"></script>

<script src="../assets/plugins/DataTables/js/dataTables.colReorder.min.js"></script>
<script src="../assets/plugins/DataTables/js/dataTables.colVis.js"></script>
<script src="../assets/plugins/DataTables/js/buttons.colVis.min.js"></script>
<script src="../assets/plugins/DataTables/js/dataTables.fixedColumns.js"></script>

<script src="../assets/plugins/tinyColorPicker/jqColorPicker.min.js" type="text/javascript"></script>

<!-- ### PLUGIN DO WIDGET ### -->
<script src="../widgets/script.js"></script>

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../assets/plugins/parsley/dist/parsley.js"></script>
<script src="../assets/js/apps.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->