<!-- ================== BEGIN BASE CSS STYLE ================== -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="../assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="../assets/plugins/font-mova/css/font-mova.css" rel="stylesheet" />
<link href="../assets/css/animate.min.css" rel="stylesheet" />
<link href="../assets/css/style.css" rel="stylesheet" />
<link href="../assets/css/style-responsive.min.css" rel="stylesheet" />
<link href="../assets/css/theme/default.css" rel="stylesheet" id="theme" />
<link href="../assets/plugins/clockpicker/src/clockpicker.css" rel="stylesheet" />
<link href="../assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<!-- ================== END BASE CSS STYLE ================== -->

<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="../assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
<link href="../assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="../assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
<link href="../assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
<link href="../assets/plugins/DataTables/css/data-table.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->

<!-- ### SELECT ICONS ### -->
<link href="../assets/plugins/fontIconPicker/fontello-7275ca86/css/fontello.css" rel="stylesheet" type="text/css" />
<link href="../assets/plugins/fontIconPicker/icomoon/style.css" rel="stylesheet" type="text/css" />
<link href="../assets/plugins/fontIconPicker/css/jquery.fonticonpicker.css" rel="stylesheet" type="text/css" />
<link href="../assets/plugins/fontIconPicker/themes/bootstrap-theme/jquery.fonticonpicker.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/plugins/fontIconPicker/themes/dark-grey-theme/jquery.fonticonpicker.darkgrey.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/plugins/fontIconPicker/themes/grey-theme/jquery.fonticonpicker.grey.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/plugins/fontIconPicker/themes/inverted-theme/jquery.fonticonpicker.inverted.min.css" rel="stylesheet" type="text/css" />

<link href="../assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
<link href="../assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />

<link href="../assets/plugins/DataTables/css/colReorder.dataTables.min.css" rel="stylesheet" />
<link href="../assets/plugins/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="../assets/plugins/DataTables/css/dataTables.fixedColumns.css" rel="stylesheet" />

<link href="../assets/css/default/style.css" rel="stylesheet" />
<link href="../assets/css/style-datatable-mova.css" rel="stylesheet" />

<!-- ================== BEGIN BASE JS ================== -->
<script src="../assets/plugins/pace/pace.min.js"></script>
<!-- ================== END BASE JS ================== -->