<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetspoi">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetspoi-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm">Adicionar POI</a></li>
            </ul>
        </div>
        <h4 class="panel-title">POI</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> POI 
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<input type="hidden" name="id" id="id" value="" />
			<input type="hidden" name="account_id" id="account_id" value="" /> 

			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Nome do Local</label>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12">
				<input type="text" class="form-control input-sm name" name="local" id="local" placeholder="Escolha um nome para o local" required="required"/>
			</div>
			
			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Posição</label>
			</div>	
			<div class="col-md-5 col-sm-5 m-b-5">
				<input type="text" class="form-control input-sm name" name="lat" id="lat" placeholder="Latitude" required="required"/>
			</div>
			<div class="col-md-5 col-sm-5 m-b-5">
				<input type="text" class="form-control input-sm name" name="long" id="long" placeholder="Longitude" required="required"/>
			</div>
			<div class="col-md-2 col-sm-2 m-b-2 no-select">
				<i class="fa fa-2x fa-globe icon_button call_map" title="Use o mapa para selecionar um ponto"></i>
			</div>

			<div class="col-md-6 col-sm-6 m-b-6 no-select">
				<label>Ícone</label>
			</div>
			<div class="col-md-6 col-sm-6 m-b-6 no-select">
				<label>Cor</label>
			</div>

			<div class="col-md-6 col-sm-6 m-b-6 no-select">	
				<select name="icon" id="icon" class="form-control input-sm input-sm icon"></select>
			</div>
			<div class="col-md-6 col-sm-6 m-b-6 no-select">				
				<div class="input-toggles">
					<input class="color no-alpha form-control input-sm" value="" />
				</div>
			</div>

			<div class="form-group col-md-12 col-sm-12">
				<label>Grupo</label>
				<select name="group" id="group" class="form-control input-sm selectGroup" required="required">
					<option value="">Selecione um grupo</option>
				</select>
			</div>

			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Descrição</label>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12">
				<textarea rows="4" style="width: 100%;" class="form-control input-sm name" name="description" id="description" maxlength="250"></textarea>
			</div>

			<div class="form-group col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
			</div>

	 	</form>	

	 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box hidden">
		 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box-in">
				<h5>
					<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i>Visualizar POI 
					<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
				</h5>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Nome do Local
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_local"/>
				</div>
				
				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Informações do POI
				</div>	
				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-title">
						Ícone
					</div>
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-content text-center">
						<span class="lbl_icon" />
					</div>
				</div>	
				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-title">
						Cor
					</div>
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-content text-center">
						<span class="lbl_color" />
					</div>
				</div>
				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-title">
						Latitude
					</div>
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-content text-center">
						<span class="lbl_lat" />
					</div>
				</div>	
				<div class="col-md-6 col-sm-6 m-b-12">
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-title">
						Longitude
					</div>
					<div class="col-md-6 col-sm-6 m-b-6 no-select visualize-content text-center">
						<span class="lbl_lng" />
					</div>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Endereço
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class='mapAddress' hist='0' long='' lat=''>Carregando...</span>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Grupo
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_group" />
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Descrição
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_description"/>
				</div>
		 	</div>	
	 	</div>	

		<div class="col-md-12">	
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/poi/poi.js"></script>
    </div>
</div>