<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetschecklistvelleda">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload" disabled><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetschecklistvelleda-dropdown" role="menu">

            </ul>
        </div>
        <h4 class="panel-title">Checklist</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i>Editar Checklist 
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-times"></i></button>
			</h5>
			<input type="hidden" name="id" id="id" value="" />
			<input type="hidden" name="user_id" id="user_id" value="" /> 
			<input type="hidden" name="account_id" id="account_id" value="" /> 

			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Data</label>
				<input type="text" name="dataatual" id="dataatual" class="form-control input-sm pluginDate" value="" placeholder="Data Atual" required="required"/>
			</div>			
			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Local</label>
				<input type="text" class="form-control input-sm" name="local" id="local" placeholder="Nome do Local" data-parsley-length="[2, 20]" required="required" />
			</div>		
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
					<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">
		        		<label>Placa</label>
					</div>		
					<div class="col-md-6 col-sm-6 col-xs-6">
		        		<label>Cavalo</label>
						<input type="text" class="form-control input-sm label-mask" name="placacavalo" id="placacavalo" placeholder="Placa Cavalo" data-parsley-length="[8, 8]" required="required" />
					</div>		
					<div class="col-md-6 col-sm-6 col-xs-6">
		        		<label>Carreta</label>
						<input type="text" class="form-control input-sm label-mask" name="placacarreta" id="placacarreta" placeholder="Placa Carreta" data-parsley-length="[8, 8]" required="required" />
					</div>
				</div>
			</div>		
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12">	
					<label>Transportadora</label>
				</div>
				<select id="transp" name="transp" class="form-control input-sm">
					<option value="">Selecione uma Transportadora</option>
				</select>
			</div>		
			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Origem</label>
				<input type="text" class="form-control input-sm" name="origem" id="origem" placeholder="Local de Origem" data-parsley-length="[2, 20]" required="required" />
			</div>	
			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Destino</label>
				<input type="text" class="form-control input-sm" name="destino" id="destino" placeholder="Local de Destino" data-parsley-length="[2, 20]" required="required" />
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12">	
					<label>Tipo Veículo</label>
				</div>
				<select id="tipoveiculo" name="tipoveiculo" class="form-control input-sm">
					<option value="">Selecione um Tipo de Veículo</option>
				</select>
			</div>		
			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Motorista</label>
				<input type="text" class="form-control input-sm" name="motorista" id="motorista" placeholder="Nome do Motorista" data-parsley-length="[2, 20]" required="required" />
			</div>			
			<div class="col-md-6 col-sm-6 col-xs-12">
        		<label>CNH</label>
				<input type="text" class="form-control input-sm" name="ncnh" id="ncnh" placeholder="Número da CNH" data-parsley-length="[2, 20]" required="required" />
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
        		<label>Validade da CNH</label>
				<input type="text" name="datavalidade" id="datavalidade" class="form-control input-sm pluginDate" value="" placeholder="Validade da CNH" required="required"/>
			</div>	
			<div class="col-md-6 col-sm-6 col-xs-12">
        		<label>Lacre</label>
				<input type="text" class="form-control input-sm" name="nlacre" id="nlacre" placeholder="Número do Lacre" data-parsley-length="[2, 20]" required="required" />
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
        		<label>Número da Nota Fiscal</label>
				<input type="text" class="form-control input-sm" name="nnf" id="nnf" placeholder="Número da Nota Fiscal" data-parsley-length="[2, 20]" required="required" />
			</div>	
			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Data Saída</label>
				<input type="text" name="datasaida" id="datasaida" class="form-control input-sm pluginDate" value="" placeholder="Data Atual" required="required"/>
			</div>	
			<div class="col-md-6 col-sm-6 col-xs-12">
        		<label>Previsão de Entrega</label>
				<input type="text" name="preventrega" id="preventrega" class="form-control input-sm pluginDate" value="" placeholder="Previsão de Entrega" required="required"/>
			</div>	

			<input type="hidden" name="datatransm" id="datatransm"/>

			<div class="col-md-6 col-sm-6 col-xs-12 clockpicker">
        		<label>Hora de saída</label>
				<input type="time" name="hsaida" id="hsaida" class="form-control input-sm check_hour" value="00:00" placeholder="Hora de saída" required="required"/>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 clockpicker">
        		<label>Hora de Chegada</label>
				<input type="time" name="horachegada" id="horachegada" class="form-control input-sm check_hour" value="00:00" placeholder="Hora da Chegada" required="required"/>
			</div>	
			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Tempo Termo</label>
				<input type="text" class="form-control input-sm" name="tempotermo" id="tempotermo" placeholder="Tempo em minutos" data-parsley-length="[2, 20]" required="required" />
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Comboio</label>
					<a href="javascript:;" class="i-check camboio"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Pneus</label>
					<a href="javascript:;" class="i-check pneus"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Estintor Válido</label>
					<a href="javascript:;" class="i-check estintorvalido"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Elétrica</label>
					<a href="javascript:;" class="i-check eletrica"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Cadeado Baú</label>
					<a href="javascript:;" class="i-check cadeadobau"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Cond. Gerais</label>
					<a href="javascript:;" class="i-check condgerais"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Termoking</label>
					<a href="javascript:;" class="i-check termoking"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Estepe</label>
					<a href="javascript:;" class="i-check estepes"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Abastecimento</label>
					<a href="javascript:;" class="i-check abastecimento"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Sensor de Portas</label>
					<a href="javascript:;" class="i-check sensoresportas"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Sensor de Desengate</label>
					<a href="javascript:;" class="i-check sensordesengate"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Sensor de Baú</label>
					<a href="javascript:;" class="i-check sensorbau"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Sirene</label>
					<a href="javascript:;" class="i-check sirene"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Bloqueio</label>
					<a href="javascript:;" class="i-check bloqueio"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Trava de Baú</label>
					<a href="javascript:;" class="i-check travabau"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Procedimento JBS</label>
					<a href="javascript:;" class="i-check procedimentojbs"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Manuseio do Rastreador</label>
					<a href="javascript:;" class="i-check manuseiorastreador"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
	        		<label>Conhecimento da Roda</label>
					<a href="javascript:;" class="i-check conhecimentoroda"><i class="fa fa-2x fa-toggle-off"></i></a>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Observações</label>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12">
				<textarea rows="4" style="width: 100%;" class="form-control input-sm name" name="observacoes" id="observacoes" maxlength="250"></textarea>
			</div>


			<div class="col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Aprovar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-times "></i> Reprovar</button>
			</div>

	 	</form>	

	 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box hidden">
		 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box-in">
				<h5>
					<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i>Visualizar Checklist 
					<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
				</h5>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Nome
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_name"/>
				</div>
		 	</div>	
	 	</div>	

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/checklistvelleda/checklistvelleda.js"></script>
    </div>
</div>