<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsreportkm">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs fristAction">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsreportkm-dropdown" role="menu">
            	
            </ul>
        </div>
        <h4 class="panel-title">Relatório de Km</h4>
    </div>
    <div class="panel-body"> 

		<ul class="nav nav-tabs" id="widgetsreportkm-nav" onclick="changeActiveMenu(event)">
			<li class="active"><a href="#tab-search-km"  id="search-km" data-toggle="tab">Filtros</a></li>			
		</ul> 	

		<div class="col-md-12 p-l-0 p-r-0 tab-content">
			
			<div class="col-md-12 tab-pane fade active in" id="tab-search-km">	
				<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="no-padding hidden">

					<div class="col-md-12 col-sm-12 col-xs-12 no-padding">

						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<div class="col-md-12 col-sm-12 col-xs-12">
			        			<label>Semana</label>
			        		</div>
		    				<div class="col-md-12 col-sm-12 col-xs-12">
								<input type="text" name="cday" id="cday" class="form-control input-sm pluginDateWeek" value="" placeholder="Selecione uma Semana" required="required"/>
								<input type="hidden" name="start_day" id="start_day"/>
								<input type="hidden" name="end_day" id="end_day"/>
							</div>	
						</div>	

					</div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
							<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">
								<label>Seleciona as Unidades para gerar o relatório</label>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">	
									<label>Grupos</label>
								</div>
								<select id="group" name="group" class="form-control input-sm" multiple>
									<option value="0" selected>Todos</option>
								</select>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">	
									<label>Subgrupos</label>
								</div>
								<select id="subgroup" name="subgroup" class="form-control input-sm" multiple>
									<option value="0" selected>Todos</option>
								</select>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12 titleSelectInput">
									<input type="search" id="searchUnits" name="searchUnits" title="Digite ao menos 3 caracteres" class="form-control input-sm" placeholder="Pesquisar Unidades" />
								</div>	
								<select id="unit" name="unit" class="form-control input-sm" multiple>
									<option value="0" selected>Todos</option>
								</select>
							</div>	

							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">	
									<label>Unidades Selecionadas</label>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 selectedUnitList"><div class="selectedUnit bg-color-primary no-select" id="0" title="Click para remover esse unidade">Todos</div></div>
							</div>	 
						</div>	
					</div>	       		

					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x icon-search"></i> Buscar</button>
					</div>

				</form>

				<div id="loadingProgressG" class="load-report">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>		

		</div>	
		<!-- ### SCRIPTS DIVERSOS ### -->
    	<script src="widgets/reportkm/reportkm.js"></script>
    </div>
</div>
