<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetstable">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetstable-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm td-account">Adicionar Tipo</a></li>
            	<li><a href="javascript:;" class="openForm td-widget">Adicionar Widget</a></li>
            	<li><a href="javascript:;" class="openForm td-manufacture">Adicionar Fabricante</a></li>
            	<li><a href="javascript:;" class="openForm td-model">Adicionar Modelo</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Tabelas</h4>
    </div>
    <div class="panel-body">	  

		<ul class="nav nav-tabs" id="widgetstable-nav" onclick="changeActiveMenu(event)">
			<li class="active"><a href="#tab-account-type"  id="account_type" data-toggle="tab">Tipos de Contas</a></li>
			<li class=""><a href="#tab-widgets" id ="widgets" data-toggle="tab">Widgets</a></li>
			<li class=""><a href="#tab-manuf" id ="manuf" data-toggle="tab">Fabricantes</a></li>
			<li class=""><a href="#tab-model" id ="model" data-toggle="tab">Modelos</a></li>
		</ul> 	

		<div class="col-md-12 p-l-0 p-r-0 tab-content">
			<!-- ### TIPO DE CONTA ### -->
			<div class="col-md-12 tab-pane fade active in" id="tab-account-type">
					
				<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
					<h5>
						<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i>
						<label class="add">Adicionar</label><label class="edit">Editar</label> tipo de conta 
						<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
					</h5>
					<input type="hidden" class="id" name="id" id="id" value="" />
					<div class="form-group col-md-12">
						<label>Tipo da conta:</label>
						<input type="text" class="form-control input-sm name" name="name" name="id" placeholder="Tipo da conta" data-parsley-length="[3, 100]" required="required" value="" />
					</div>
					<div class="form-group col-md-12 text-center p-t-5 action-buttons">
						<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
						<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
					</div>
				</form>

				<div id="create-table">
					<div id="loadingProgressG">
						<div id="loadingProgressG_1" class="loadingProgressG"></div>
					</div>
				</div>
			</div>
			<!-- ### FIM TIPO DE CONTA ### -->
				
			<!-- ### WIDGETS ### -->
			<div class="col-md-12 tab-pane fade" id="tab-widgets">

				<form action="#" method="POST" data-parsley-validate="true" name="form" class="hidden">
					<h5>
						<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> widget 
						<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
					</h5>
					<input type="hidden" class="id" name="id" id="id" value="" />
					<div class="form-group col-md-12">
						<label>Nome do widget:</label>
						<input type="text" class="form-control input-sm name" name="name" id="name" placeholder="Nome do widget" data-parsley-length="[3, 100]" required="required" value="" />
					</div>
					
					<div class="form-group col-md-7">
						<label>Categoria:</label>
					</div>						
					<div class="form-group col-md-5">
						<label>Ícone:</label>
					</div>		

					<div class="form-group col-md-7">
						<select name="category" id="category" class="form-control input-sm input-sm category" required="required">
							<option value="">Selecione uma categoria</option>
						</select>
					</div>
					<div class="form-group col-md-5">
						<select name="icon" id="icon" class="form-control input-sm input-sm icon"></select>
					</div>
					
					<div class="form-group col-md-7">
						<label>Template:</label>
					</div>
					<div class="form-group col-md-5">
						<label>Tamanho:</label>
					</div>
					
					<div class="form-group col-md-7">
						<input type="text" class="form-control input-sm template" name="template" id="template" placeholder="Template" required="required" value="" />
					</div>
					<div class="form-group col-md-5">
						<select name="size" id="size" class="form-control input-sm input-sm size" required="required">
							<option value="4">Pequeno</option>
							<option value="8">Médio</option>
							<!--<option value="12">Grande</option>-->
						</select>
					</div>
					
					<div class="form-group col-md-12 text-center p-t-5 action-buttons">
						<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
						<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
					</div>
				</form>

				<div id="create-table">
					<div id="loadingProgressG">
						<div id="loadingProgressG_1" class="loadingProgressG"></div>
					</div>
				</div>					
			</div>
			<!-- ### FIM WIDGETS ### -->
			
			<!-- ### FABRICANTES ### -->
			<div class="col-md-12 tab-pane fade" id="tab-manuf">

				<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
					<h5>
						<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> fabricante 
						<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
					</h5>
					<input type="hidden" class="id" name="id" id="id" value="" />
					<div class="form-group col-md-12">
						<label>Nome do fabricante:</label>
						<input type="text" class="form-control input-sm name" name="name" id="name" placeholder="Nome do fabricante" data-parsley-length="[3, 100]" required="required" value="" />
					</div>
					
					<div class="form-group col-md-12 text-center p-t-5 action-buttons">
						<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
						<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
					</div>
				</form>

				<div id="create-table">
					<div id="loadingProgressG">
						<div id="loadingProgressG_1" class="loadingProgressG"></div>
					</div>
				</div>				
			</div>
			<!-- ### FIM FABRICANTES ### -->			
			
			<!-- ### MODELOS ### -->
			<div class="col-md-12 tab-pane fade" id="tab-model">

				<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
					<h5>
						<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> modelo 
						<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
					</h5>
					<input type="hidden" class="id" name="id" id="id" value="" />
					<div class="form-group col-md-12">
						<label>Nome do Modelo:</label>
						<input type="text" class="form-control input-sm name" name="name" id="name" placeholder="Nome do modelo" data-parsley-length="[3, 100]" required="required" value="" />
					</div>
					
					<div class="form-group col-md-12 col-sm-12 col-xs-12">
						<label>Fabricante:</label>
						<select name="manufacturer" id="manufacturer" class="form-control input-sm input-sm manufacturer" required="required">
							<option value="">Selecione um fabricante</option>
						</select>
					</div>

					<div class="col-md-12">
						<label>Quantidade de motiristas:</label><br>
						<span class="informer-text">(Quantidade máxima de espaço em memória para o cadastro de motoristas)</span>
						<input type="text" class="form-control input-sm num" name="qtd_driver" id="qtd_driver" placeholder="Quantidade" data-parsley-length="[1, 6]" required="required"/>
					</div>
					
					<div class="form-group col-md-12 text-center p-t-5 action-buttons">
						<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
						<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
					</div>
				</form>

				<div id="create-table">
					<div id="loadingProgressG">
						<div id="loadingProgressG_1" class="loadingProgressG"></div>
					</div>
				</div>					
			</div>
		<!-- ### FIM MODELOS ### -->		
		</div>	
		<!-- ### SCRIPTS DIVERSOS ### -->
    	<script src="widgets/table/table.js"></script>
    </div>
</div>
