<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsalarm">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsalarm-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm">Adicionar Alarme</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Alarme</h4>
    </div>
    <div class="panel-body">	

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> Alarme 
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<input type="hidden" name="id" id="id" value="" />
			<input type="hidden" name="account_id" id="account_id" value="" /> 

			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Nome do Alarme</label>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12">
				<input type="text" class="form-control input-sm name" name="name" id="name" placeholder="Escolha um nome para o Alarme" required="required"/>
			</div>
			
			<div class="form-group col-md-12 col-sm-12">
				<label>Grupo</label>
				<select name="group" id="group" class="form-control input-sm selectGroup" required="required">
					<option value="">Selecione um grupo</option>
				</select>
			</div>

			<div class="col-md-12 col-sm-12">
				<div class="col-md-12 col-sm-12 header-text">
					<label>Regras de Alarme</label>
					<label style="float: right;">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger minus-alarm" style="line-height: 0px;" disabled title="Remover Regra de Alarme"><i class="fa fa-minus"></i></a>
	        			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success plus-alarm" style="line-height: 0px;" disabled title="Adicionar Regra de Alarme"><i class="fa fa-plus"></i></a>
					</label>
				</div>
			
				<div class="col-md-12 col-sm-12 list-alarm">
					<label>Disparar alarme quando</label><br>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Nível Crítico</label>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12" style="text-align: center; padding: 0px !important;">
				<button type="button" class="p-10 btn btn-success m-r-2 btn-level selectdLevel default-lvl" id="1">Baixo</button>
				<button type="button" class="p-10 btn btn-warning m-r-2 btn-level" id="2">Médio</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-level" id="3">Alto</button>
				<input type="hidden" name="level" id="level" value="1" />
			</div>

			<div class="col-md-12 col-sm-12 m-b-12">
				<label>Descrição</label><br>
				<span class="informer-text">(procedimento em relação ao alarme)</span>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12">
				<textarea rows="4" style="width: 100%;" class="form-control input-sm name" name="description" id="description" maxlength="250"></textarea>
			</div>

			<div class="col-md-6 col-sm-6 m-b-6">
				<label> <input type="checkbox" name="showInMonitor" id="showInMonitor" value="1" checked> Exibir notificação no Monitor de Alarmes</label>
			</div>	
			<div class="col-md-6 col-sm-6 m-b-6">
				<label> <input type="checkbox" name="sendEmail" id="sendEmail" value="1" checked> Enviar notificação por e-mails</label>
			</div>	

			<div class="form-group col-md-12 col-sm-12 field-email">
				<label>Intervalo para envio de notificação via e-mail</label>
				<select name="time_send_mail" id="time_send_mail" class="form-control input-sm">
					<option value="1">1 minuto</option>
					<option value="10">10 minutos</option>
					<option value="30">30 minutos</option>
					<option value="60">1 hora</option>
					<option value="360">6 horas</option>
					<option value="1440">24 horas</option>
				</select>
			</div>

			<div class="col-md-12 col-sm-12 m-b-12 field-email">
				<label>Enviar notificação para os sequintes e-mails</label><br>
				<span class="informer-text">(separe mais de um e-mail com ponto e vírgula ";")</span>
			</div>	
			<div class="col-md-12 col-sm-12 m-b-12 field-email">
				<textarea rows="4" style="width: 100%;" class="form-control input-sm name" name="email_notification" id="email_notification" maxlength="250"></textarea>
			</div>

			<div class="col-md-12 col-sm-12 edit">

				<div class="col-md-12 col-sm-12 header-text">
					<label>Unidades Associadas</label>
					<label style="float: right;">
	        			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success assoc-unit" style="line-height: 0px;" disabled title="Editar Associação de unidades"><i class="fa fa-edit"></i></a>
					</label>
				</div>
			
				<div class="col-md-12 col-sm-12" style="padding: 0px !important;">
					<div id="create-table-alarm-unit"></div>
				</div>
			
				<div class="col-md-12 col-sm-12 assoc-unit-div hidden"></div>

			</div>

			<div class="form-group col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
			</div>

	 	</form>	

	 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box hidden">
		 	<div class="col-md-12 col-sm-12 m-b-12 visualize-box-in">
				<h5>
					<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i>Visualizar Alarme 
					<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
				</h5>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Nome do Local
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_name"/>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Grupo
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_group" />
				</div>

				<div class="col-md-12 col-sm-12">
					<div class="col-md-12 col-sm-12 header-text">
						<label>Regras de Alarme</label>
					</div>
				
					<div class="col-md-12 col-sm-12 list-alarm-view">
						<label>Disparar alarme quando</label><br>
					</div>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Nível Crítico <span class="lbl_level" />
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title" style="margin-top: 7px;">
					Exibir notificação no Monitor de Alarmes <span class="lbl_note_alarme"/>
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-title" style="margin-top: 7px;">
					Enviar notificação por e-mails <span class="lbl_send_mail"/>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title field-email-view">
					Intervalo para envio de notificação via e-mail
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content field-email-view">
					<span class="lbl_time_send_mail"/>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title">
					Descrição
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content">
					<span class="lbl_description"/>
				</div>

				<div class="col-md-12 col-sm-12 m-b-12 visualize-title field-email-view">
					Enviar notificação para os sequintes e-mails
				</div>	
				<div class="col-md-12 col-sm-12 m-b-12 visualize-content field-email-view">
					<span class="lbl_email_notification"/>
				</div>

				<div class="col-md-12 col-sm-12 header-text" style="margin-top: 5px;">
					<label>Unidades Associadas</label>
				</div>
			
				<div class="col-md-12 col-sm-12" style="padding: 0px !important;">
					<div id="create-table-alarm-unit-view"></div>
				</div>

		 	</div>	
	 	</div>	

		<div class="col-md-12">	
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/alarm/alarm.js"></script>
    </div>
</div>