<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsfreecommand">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Envio de Comando Livre</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i>Enviar Comando
			</h5>
			<input type="hidden" name="id" id="id" value="" />
			<input type="hidden" name="account_id" id="account_id" value="" /> 

			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Tipos de comandos</label>
				<select id="command_type" name="command_type" class="form-control input-sm" required="required">
					<option value="" selected>Selecionar um comando</option>
				</select>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 input-command">
        		<label>Comando Livre</label>
				<input type="text" class="form-control input-sm" name="command" id="command" placeholder="Digite seu comando" data-parsley-length="[2, 100]" required="required" />
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 searchUnitControl">
					<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">
						<label>Seleciona as Unidades para receber o comando</label>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">	
							<label>Grupos</label>
						</div>
						<select id="group" name="group" class="form-control input-sm" multiple>
							<option value="0" selected>Todos</option>
						</select>
					</div>
					
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12 titleSelect">	
							<label>Subgrupos</label>
						</div>
						<select id="subgroup" name="subgroup" class="form-control input-sm" multiple>
							<option value="0" selected>Todos</option>
						</select>
					</div>
					
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12 titleSelectInput">
							<input type="search" id="searchUnits" name="searchUnits" title="Digite ao menos 3 caracteres" class="form-control input-sm" placeholder="Pesquisar Unidades" />
						</div>	
						<select id="unit" name="unit" class="form-control input-sm" multiple>
							<option value="0" selected>Todos</option>
						</select>
					</div>	
				</div>	
			</div>	

			<div class="col-md-12 col-sm-12 col-xs-12">
				<label>Unidades Selecionadas</label>
				<div class="col-md-12 col-sm-12 col-xs-12 selectedUnitList"><div class="selectedUnit bg-color-primary no-select" id="0" title="Click para remover esse unidade">Todos</div></div>
			</div>	

			<div class="col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Enviar Comando</button>
			</div>
	 	</form>	

		<div class="col-md-12">	
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/freecommand/freecommand.js"></script>
    </div>
</div>