<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsunit">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsunit-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm">Adicionar Unidade</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Unidades</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" class="form hidden">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> unidade
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<input type="hidden" name="account_id" id="account_id" value="" />
			<input type="hidden" name="id" id="id" value="" />
			<input type="hidden" name="os_id" id="os_id" value="" />
			<input type="hidden" name="cli_fat" id="cli_fat" value=""/>

			<div class="form-group col-md-8 add">
				<label>OS:</label>
			</div>
			<div class="form-group col-md-4 add">
				&nbsp;
			</div>
			<div class="form-group col-md-8 add">
				<input type="text" class="form-control input-sm" name="os" id="os" placeholder="Ordem de serviço" value="" />
				<ul class="parsley-errors-list filled" id="parsley-id-9564"><li class="parsley-required" id="parsley-search-device"></li></ul>
			</div>
			<div class="form-group col-md-4 text-center add">
				<button type="button" class="p-5 btn btn-primary m-r-2 btn-sm" id="search_os"><i class=" fa fa-1x fa-search "></i> Buscar</button>
			</div>

			<div class="col-md-12 col-sm-12 add">
				<label>Cliente:&nbsp;</label>
				<input type="hidden" name="cli_fat" id="cli_fat" value=""/>
				<label id="display_client"></label>
			</div>

			<div class="form-group col-md-12">
				<label>Placa</label>
				<input type="text" class="form-control input-sm" name="label" id="label" placeholder="Placa da unidade" data-parsley-length="[8, 8]" required="required" value="" />
			</div>
			<div class="form-group col-md-12">
				<label>Descrição</label>
				<input type="text" class="form-control input-sm" name="label2" id="label2" placeholder="Descrição da unidade"  value="" />
			</div>
			<div class="form-group col-md-12 col-sm-12">
				<label>Tipo</label>
				<select name="unit_type" id="unit_type" class="form-control input-sm" required="required">
					<option value="">Selecione um tipo</option>
				</select>
			</div>
			<div class="form-group col-md-12 col-sm-12">
				<label>Categoria</label>
				<select name="unit_category" id="unit_category" class="form-control input-sm" required="required">
					<option value="">Selecione um tipo</option>
				</select>
			</div>
			<div class="form-group col-md-12 col-sm-12">
				<label>Grupo</label>
				<select name="group" id="group" class="form-control input-sm selectGroup" required="required">
					<option value="">Selecione um grupo</option>
				</select>
			</div>
			<div class="form-group col-md-12 col-sm-12">
				<label>Subgrupo</label>
				<select name="subgroup" id="subgroup" class="form-control input-sm" required="required">
					<option value="">Selecione um grupo</option>
				</select>
			</div>
			<div class="form-group col-md-12 col-sm-12">
				<label>Produto</label>
				<select name="product" id="product" class="form-control input-sm" required="required">
					<option value="">Selecione um produto</option>
				</select>
			</div>
			<div class="form-group col-md-9 col-sm-9">
				<label>Fuso horário</label>  
		        </select>
			</div>
			<div class="form-group col-md-3 col-sm-3 text-center">
				<label>Hr. Verão</label>
			</div>
			<div class="form-group col-md-9 col-sm-9">
				<select name="timezone" id="timezone" class="form-control input-sm" required="required">
					<option value="-1">(GMT - 1:00) Azores, Cape Verde Islands</option>
		            <option value="-2">(GMT - 2:00) Mid-Atlantic, Ascention Is., St Helena</option>
		            <option value="-3" selected>(GMT - 3:00) Brasil (Brasília), Buenos Aires, Falkland Is.</option>
		            <option value="-4">(GMT - 4:00) Atlantic Time (Canada), Caracas, La Paz</option>
		            <option value="-5">(GMT - 5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
		            <option value="-6">(GMT - 6:00) Central Time (US &amp; Canada), Mexico City</option>
		            <option value="-7">(GMT - 7:00) Mountain Time (US &amp; Canada)</option>
		            <option value="-8">(GMT - 8:00) Pacific Time (US &amp; Canada)</option>
		            <option value="-9">(GMT - 9:00) Alaska</option>
		            <option value="-10">(GMT - 10:00) Hawaii</option>
          			<option value="-11">(GMT - 11:00) Midway Island, Samoa</option>
          			<option value="-12">(GMT - 12:00) Enitwetok, Kwajalien</option>
		            <option value="0">(GMT) Casablanca, Dublin, London, Lisbon, Monrovia</option>
		            <option value="1">(GMT + 1:00) Brussels, Copenhagen, Madrid, Paris</option>
		            <option value="2">(GMT + 2:00) Kaliningrad, South Africa</option>
		            <option value="3">(GMT + 3:00) Baghdad, Riyadh, Moscow, Nairobi</option>
		            <option value="4">(GMT + 4:00) Abu Dhabi, Baku, Muscat, Tbilisi</option>
		            <option value="5">(GMT + 5:00) Ekaterinburg, Karachi, Tashkent</option>
		            <option value="5.75">(GMT + 5:45) Kathmandu</option>
		            <option value="6">(GMT + 6:00) Almaty, Colombo, Dhaka</option>
		            <option value="7">(GMT + 7:00) Bangkok, Hanoi, Jakarta</option>
		            <option value="8">(GMT + 8:00) Hong Kong, Perth, Singapore, Taipei</option>
		            <option value="9">(GMT + 9:00) Osaka, Sapporo, Seoul, Tokyo, Yakutsk</option>
		        	<option value="10">(GMT + 10:00) Melbourne, Papua New Guinea, Sydney</option>
		            <option value="11">(GMT + 11:00) Magadan, New Caledonia, Solomon Is.</option>
		            <option value="12">(GMT + 12:00) Auckland, Fiji, Marshall Island</option>
		            <option value="13">(GMT + 13:00) Kamchatka, Anadyr</option>
		            <option value="14">(GMT + 14:00) Kiritimati</option>    
		        </select>
			</div>
			<div class="form-group col-md-3 col-sm-3 text-center">
				<input type="checkbox" id="dst" name="dst" />
			</div>
			<div class="form-group col-md-12 col-sm-12 edit">
				<label>Status</label>
				<select name="status" id="status" class="form-control input-sm" required="required">
					<option value="1">Ativo</option>
					<option value="2">Desativado</option>
				</select>
			</div>
			
			<div class="col-md-12 col-sm-12">
				<label class="m-b-5">Dispositivo</label>
			</div>
			<div class="col-md-12 col-sm-12" style="padding: 0px !important;">
				<div class="col-md-8 col-sm-8">
						<input type="text" class="form-control input-sm" name="device" id="device" placeholder="Identificação de dispositivo"/>
						<ul class="parsley-errors-list filled" id="parsley-id-9565"><li class="parsley-required" id="parsley-device"></li></ul>
				</div>
				<div class="form-group col-md-4 col-sm-4 text-center">
					<button type="button" class="p-5 btn btn-primary m-r-2 btn-sm" id="device-register"><i class=" fa fa-1x fa-plus-circle "></i> Incluir</button>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="list-devices"></div>
			</div>
					
			<div class="form-group checkbox col-md-12 col-sm-12 edit assoc-validation-check">
				<label><input type="checkbox" id="assoc-driver-manager" />Deseja associar motoristas a essa unidade?</label>				
			</div>

			<div class="col-md-12 col-sm-12 edit assoc-validation">

				<div class="col-md-12 col-sm-12 header-text">
					<label>Motoristas Associados</label>
					<label style="float: right;">
	        			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning resend" style="line-height: 0px; margin-right: 7px;" disabled title="Reenviar motoristas"><i class="fa fa-rss" style="margin-left: 1px; margin-top: -1px;" ></i></a>
	        			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success assoc-unit" style="line-height: 0px;" disabled title="Editar Associação de Motorista"><i class="fa fa-edit"></i></a>
					</label>
				</div>
			
				<div class="col-md-12 col-sm-12" style="padding: 0px !important;">
					<div id="create-table-drivers-unit"></div>
				</div>
			
				<div class="col-md-12 col-sm-12 assoc-unit-div hidden"></div>

			</div>

			<div class="form-group action-buttons text-center col-md-12 col-sm-12">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
			</div>
		</form>

		<div class="col-md-12">	
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
	    <script src="widgets/unit/unit.js"></script>
    </div>
</div>