<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsaccount">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsaccount-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm">Adicionar conta</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Contas</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> Conta 
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<input type="hidden" name="id" id="id" value="" />
			<div class="form-group col-md-12 col-sm-12">
				<label>Conta</label>
				<input type="text" class="form-control input-sm" name="name" id="name" placeholder="Nome da conta" data-parsley-length="[3, 20]" required="required" />
			</div>
			<div class="form-group col-md-12 col-sm-12">
				<label>Tipo</label>
				<select name="type" id="type" class="form-control input-sm selAccTypes" required="required">
					<option selected disabled>Tipo de Conta</option>			
				</select>
			</div>
			<div class="form-group col-md-12 edit">
				<label>Status</label>
				<select name="status" id="status" class="form-control input-sm" required="required">
					<option value="1">Ativar</option>
					<option value="2">Desativar</option>
				</select>
			</div>
			<div class="form-group col-md-12 edit">
				<label>Controla Motorista</label>
				<select name="driver_manager" id="driver_manager" class="form-control input-sm" required="required">
					<option value="1">Não Controla Motorista</option>
					<option value="2">Pode Controlar Motorista</option>
					<option value="3">Controla Motorista</option>
				</select>
			</div>

			<div class="form-group col-md-12 col-xs-12 add">
				<label>Usuário master</label>
				<input type="text" class="form-control input-sm" name="name_user_master" id="name_user_master" data-parsley-length="[3, 100]" placeholder="Nome do usuário Master*" required="required" />
			</div>
			<div class="form-group col-md-12 col-xs-12 add">
				<label>E-mail master</label>
				<input type="email" class="form-control input-sm" name="email_user_master" id="email_user_master" data-parsley-length="[3, 50]" placeholder="E-mail do usuário Master*" required="required" />
			</div>

			<div class="col-md-12 col-sm-12 p-b-5 accordion event">
				<h6 class="title">Tipos de Eventos <i class="fa fa-sort-desc"></i></h6>
				<div class="col-md-12 col-sm-12 p-0 tree">
					<div class="form-group eventTree" id="event"></div>
					<ul class="parsley-errors-list filled" id="parsley-id-9564"><li class="parsley-required" id="parsley-event-tree"></li></ul>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 p-b-5 accordion perm">
				<h6 class="title">Widgets <i class="fa fa-sort-desc"></i></h6>
				<div class="col-md-12 col-sm-12 p-0 tree">
					<div class="form-group permTree" id="permissions"></div>
					<ul class="parsley-errors-list filled" id="parsley-id-9564"><li class="parsley-required" id="parsley-perm-tree"></li></ul>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 p-b-5 accordion group">
				<h6 class="title">Grupos<span style="font-size: 10px; color: #666;"> (*clique com botão direito para opções)</span> <i class="fa fa-sort-desc"></i></h6>
				<div class="col-md-12 col-sm-12 p-0 tree">
					<div class="form-group groupTree"></div>
				</div>
			</div>
			<div class="form-group action-buttons text-center col-md-12 col-sm-12">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
			</div>
		</form>

		<div class="col-md-12">
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/account/account.js"></script>
    </div>
</div>