<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsmapbox">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload" disabled><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Mapa</h4>
    </div>
    <div class="panel-body">			

		<div class="col-md-12">	
			<div id="map-content" class="hidden">
				<div id="map"></div>
			</div>
            <div id="loadingProgressG">
                <div id="loadingProgressG_1" class="loadingProgressG"></div>
            </div>
            
            <button type="button" class="p-5 btn btn-primary m-r-2 btn-sm removePath hidden" title="Remover rota do mapa"><i class=" fa fa-1x fa-times"></i> Limpar Rota</button>

            <div id="mapSidebar" class="mapSidebar hidden"> 
                <div id="openmapSidebar"><i class="fa fa fa-2x fa-cog"></i></div>
                <div id="mapSidebarContent" class="hidden">                    
                    
                    <ul class="nav left-menu">
                        <li class="has-sub groupUnit">
                            <input type="checkbox" name="unit" id="unit" value="unit" class="primary-checkbox" checked>
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <span class="m-l-10">Unidades</span>
                            </a>                            
                        </i>
                        <li class="has-sub groupCerca">
                            <input type="checkbox" name="cerca" id="cerca" value="cerca" class="primary-checkbox" checked>
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <span class="m-l-10">Cercas</span>
                            </a>
                        </i>
                        <li class="has-sub groupPOI">
                            <input type="checkbox" name="poi" id="poi" value="poi" class="primary-checkbox" checked>
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <span class="m-l-10">POIs</span>
                            </a>
                        </i>
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <span class="m-l-10">Visualização</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <input type="radio" name="mapstyle" class="mapstyle" value="movamaps.928255e7" checked>
                                    <a href="javascript:;">Mapa</a>
                                </i>
                                <li>
                                    <input type="radio" name="mapstyle" class="mapstyle" value="movamaps.p0kmi9kl">
                                    <a href="javascript:;">Satélite</a>
                                </i>
                            </ul>
                        </i>
                    </ul>
            
                </div>
            </div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
	    <script src="widgets/mapbox/mapbox.js"></script>
    </div>
</div>