<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsdevice">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsdevice-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm">Adicionar dispositivo</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Dispositivos</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> dispositivo 
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<input type="hidden" name="device_id" id="device_id" value="" />
			<input type="hidden" name="account_id" id="account_id" value="" /> 

			<div class="col-md-12 col-sm-12 m-b-3">
				<label>Patrimônio</label><br/>
			</div>	
			<div class="col-md-8 col-sm-8 m-b-5">
				<input type="text" class="form-control input-sm name" name="asset" id="asset" placeholder="Identificação do Patrimônio"/>
				<ul class="parsley-errors-list filled" id="parsley-id-9564"><li class="parsley-required" id="parsley-asset"></li></ul>
			</div>

			<div class="form-group col-md-4 col-sm-4 text-center">
				<button type="button" class="p-5 btn btn-primary m-r-2 btn-sm" name="search_asset" id="search_asset"><i class=" fa fa-1x fa-search"></i> Buscar</button>
			</div>
			<div class="form-group col-md-12 col-sm-12 col-xs-12">
				<label>Identificador</label>
				<input type="text" class="form-control input-sm name" name="identifier" id="identifier" placeholder="Identificador do dispositivo" required="required" value="" />
			</div>
			<div class="form-group col-md-12 col-sm-12">
				<label>Fabricante</label>
				<select name="manufacturer" id="manufacturer" class="form-control input-sm selectManuf" required="required">
					<option value="">Selecione um fabricante</option>
				</select>
			</div>
			<div class="form-group col-md-12 col-sm-12">
				<label>Modelo</label>
				<select name="model" id="model" class="form-control input-sm" required="required">
					<option value="">Selecione um modelo</option>
				</select>
			</div>

			<div class="form-group col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
			</div>

	 	</form>	

		<div class="col-md-12">	
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/device/device.js"></script>
    </div>
</div>