<div id="custom-bubble">

	<div class="bubble-content">
		<span class="fa-stack fa-lg icon-ignition" style="z-index: 1030;">
    		{{#ignition}}
				<i class="fa fa-circle fa-stack-2x color-on" title="Ignição ligada"></i>
			{{/ignition}}
			{{^ignition}}
				<i class="fa fa-circle fa-stack-2x color-off-2" title="Ignição desligada"></i>
			{{/ignition}}
			<i class="fm fm-key_2 fa-stack-1x fm-rotate-45" style="color: #fff; margin-top: 10px;"></i>
		</span>

		<div class="col-md-12 col-sm-12 col-xs-12 no-padding div-contant-basic" style="margin-top: 10px; margin-bottom: 5px;"> 
			<span class="bubble-label" style="display: inline-flex;">{{label}}&nbsp;<span class="title path" style="display: none;"> - Traçar Caminho Percorrido</span></span>
			<input type="hidden" name="unit_id" id="unit_id" value="{{unit_id}}">
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12 no-padding bubble-content-item dados"> 

			<div class="col-md-12 col-sm-12 col-xs-12 no-padding div-contant-basic"> 
				<div class="col-md-12 col-sm-12 col-xs-12 no-padding"> 
					<i class="fa fa-2x fa-compass"></i>
					<span class="bubble-title">Endereço</span>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 no-padding bubble-line"> 
					<div class='mapAddress nowrap ellipsis' hist='{{history_id}}' long='{{longitude}}' lat='{{latitude}}' title='{{full_address}}'>{{full_address}}</div>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 no-padding div-contant-basic"> 
				<div class="col-md-12 col-sm-12 col-xs-12 no-padding"> 
					<i class="fa fa-2x fa-clock-o"></i>
					<span class="bubble-title">Ultima atualização</span>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 no-padding bubble-line"> 
					<span>{{data_hora}}&nbsp;</span>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 no-padding div-contant-basic"> 
				<div class="col-md-6 col-sm-6 col-xs-6 no-padding"> 
					<i class="fa fa-2x fa-dashboard"></i>
					<span class="bubble-title">Velocidade</span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 no-padding"> 
					<i class="fa fa-2x fa-dashboard"></i>
					<span class="bubble-title">Hodometro</span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 no-padding bubble-line"> 
					<span>{{speed}}&nbsp;km/h</span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 no-padding bubble-line"> 
					<span>{{pedometer}}&nbsp;km</span>
				</div>
			</div>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12 no-padding bubble-content-item resumo" style="display: none;">

			<div class="col-md-12 col-sm-12 col-xs-12 no-padding div-contant-basic"> 
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding"> 
					<i class="fa fa-2x fa-clock-o"></i>
					<span class="bubble-title">Ligado</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding"> 
					<i class="fa fa-2x fa-clock-o"></i>
					<span class="bubble-title">Parado</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding"> 
					<i class="fa fa-2x fa-clock-o"></i>
					<span class="bubble-title">Lig. parado</span>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-4 no-padding bubble-line"> 
					<span>{{time_on_edit}}</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding bubble-line"> 
					<span>{{time_stop_edit}}</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding bubble-line"> 
					<span>{{time_stop_ign_edit}}</span>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 no-padding div-contant-basic"> 
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding"> 
					<i class="fa fa-2x fa-dashboard"></i>
					<span class="bubble-title">Km rodado</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding">
					<i class="fa fa-2x fa-dashboard"></i>
					<span class="bubble-title">Vel. média</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding"> 
					<i class="fa fa-2x fa-dashboard"></i>
					<span class="bubble-title">Vel. máx.</span>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-4 no-padding bubble-line"> 
					<span>{{km}}&nbsp;km</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding bubble-line"> 
					<span>{{avg_spd}}&nbsp;km/h</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding bubble-line"> 
					<span>{{max_spd}}&nbsp;km/h</span>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 no-padding div-contant-basic"> 
				<div class="col-md-6 col-sm-6 col-xs-6 no-padding"> 
					<i class="fa fa-2x fa-map-marker"></i>
					<span class="bubble-title">POI</span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 no-padding"> 
					<i class="fa fa-2x fa-connectdevelop"></i>
					<span class="bubble-title">Cerca</span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 no-padding bubble-line"> 
					<div class="nowrap ellipsis" title="{{point}} ({{poi_distance}} m)">{{point}} ({{poi_distance}} m)</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 no-padding bubble-line"> 
					<div class="nowrap ellipsis" title="{{area}}">{{area}}&nbsp;</div>
				</div>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12 no-padding bubble-content-item path" style="display: none;">
			<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" style="padding: 0px !important; padding-left: 10px !important; padding-right: 10px !important;">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<label style="padding-top: 5px;">Buscar por:</label>
        		</div>
				<div class="col-md-9 col-sm-9 col-xs-9">
					<select name="periodo" id="periodo" class="form-control input-sm" required="required">
						<option value="1">Ultima hora</option>
						<option value="2">Ultimas 3 horas</option>
						<option value="3">Ultimas 6 horas</option>
						<option value="4">Ultimas 24 horas</option>
						<option value="5">Escolher Período</option>
					</select>
        		</div>
				<div class="col-md-6 col-sm-6 col-xs-6 filterPeriodo hidden">
					<input type="text" name="start_day" id="start_day" class="form-control input-sm pluginDate" value="" placeholder="De"/>
        		</div>
				<div class="col-md-6 col-sm-6 col-xs-6 clockpicker filterPeriodo hidden">
					<input type="time" name="start_hour" id="start_hour" class="form-control input-sm check_hour" value="00:00" />
				</div>	
				<div class="col-md-6 col-sm-6 col-xs-6 filterPeriodo hidden">
					<input type="text" name="end_day" id="end_day" class="form-control input-sm pluginDate" value="" placeholder="Até" />
        		</div>
				<div class="col-md-6 col-sm-6 col-xs-6 clockpicker filterPeriodo hidden">
					<input type="time" name="end_hour" id="end_hour" class="form-control input-sm check_hour" value="00:00" />
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12 text-right">
					<button type="submit" class="p-5 btn btn-primary m-r-2 btn-sm"><i class=" fa fa-1x fa-flag"></i> Traçar Rota</button>
        		</div>
        	</form>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12 no-padding div-contant-basic" style="margin-top: 5px;">
			<div class="col-md-1 col-sm-1 col-xs-1 no-padding"> 
				&nbsp;
			</div> 
    		{{#online}}
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding bubble-indication bg-color-on"> 
					<span class="bubble-title">Online</span>
				</div>
			{{/online}}
			{{^online}}
				<div class="col-md-4 col-sm-4 col-xs-4 no-padding bubble-indication bg-color-off-2"> 
					<span class="bubble-title">Offline</span>
				</div>
			{{/online}}
			<div class="col-md-2 col-sm-2 col-xs-2 no-padding"> 
				&nbsp;
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 no-padding bubble-indication bg-color-on"> 
				<span class="bubble-title">{{signal_type}}</span>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1 no-padding"> 
				&nbsp;
			</div>
		</div>

	</div>

	<div class="bubble-menu no-select bg-color-primary">

		<div class="bubble-menu-item bg-color-on" title="Dados da unidade" id="dados">
			<i class="fa fa-2x fa-gear"></i>
		</div>
		<div class="bubble-menu-item" title="Resumo da unidade" id="resumo">
			<i class="fa fa-2x fa-tachometer"></i>
		</div>
		<div class="bubble-menu-item" title="Caminho Percorrido" id="path">
			<i class="fa fa-2x fa-flag"></i>
		</div>
		
	</div>

</div>