<div class="panel panel-inverse" data-sortable-id="index-1" id="widgetsgroups">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" disabled><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" disabled><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove" disabled><i class="fa fa-times"></i></a>
        </div>
        <div class="btn-group pull-right actionMenu">
            <button type="button" class="btn btn-success btn-xs">Ações</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="widgetsgroups-dropdown" role="menu">
            	<li><a href="javascript:;" class="openForm">Adicionar Grupo</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Grupos</h4>
    </div>
    <div class="panel-body">

		<form action="#" method="POST" data-parsley-validate="true" name="form" id="form" class="hidden">
			<h5>
				<i class="fa fa-2x fa-edit" style="vertical-align: middle;"></i><label class="add">Adicionar</label><label class="edit">Editar</label> Grupo 
				<button type="button" class="pull-right btn btn-primary btn-default btn-sm cancel"><i class="fa fa-1x fa-arrow-left"></i></button>
			</h5>
			<input type="hidden" name="id" id="id" value="" />
			<input type="hidden" name="account_id" id="account_id" value="" /> 

			<div class="col-md-12 col-sm-12 col-xs-12">
        		<label>Nome</label>
				<input type="text" class="form-control input-sm" name="name" id="name" placeholder="Nome do Grupo" data-parsley-length="[2, 20]" required="required" />
			</div>

			<div class="col-md-12 col-sm-12">
				<div class="col-md-12 col-sm-12 header-text">
					<label>Subgrupos</label>
					<label style="float: right;">
	        			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success plus-subgroup" style="line-height: 0px;" disabled title="Adicionar Subgrupo"><i class="fa fa-plus"></i></a>
					</label>
				</div>
			
				<div class="col-md-12 col-sm-12 list-subgroup">
					<div class="col-md-12 col-sm-12 item-subgroup">
						<div class="col-md-7 col-sm-7 item-subgroup">
							<input type="hidden" class="subgroup_id" name="subgroup_id" id="subgroup_id" value="" />
							<input type="text" class="form-control input-sm subgroup_name" name="subgroup_name" id="subgroup_name" placeholder="Nome do Subgrupo" data-parsley-length="[2, 20]" required="required" />
						</div>		
						<div class="col-md-4 col-sm-4 item-subgroup input-toggles">
							<input class="color no-alpha form-control input-sm color_value" value="#808080" required="required"/>
						</div>
						<div class="col-md-1 col-sm-1 item-subgroup minus">
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" style="line-height: 0px;"><i class="fa fa-minus"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 text-center p-t-5 action-buttons">
				<button type="submit" class="p-10 btn btn-primary m-r-2 btn-sm save"><i class=" fa fa-1x fa-check "></i> Salvar</button>
				<button type="button" class="p-10 btn btn-danger m-r-2 btn-sm confirm_delete edit"><i class=" fa fa-1x fa-trash "></i> Excluir</button>
			</div>
	 	</form>	

		<div class="col-md-12">	
			<div id="create-table">
				<div id="loadingProgressG">
					<div id="loadingProgressG_1" class="loadingProgressG"></div>
				</div>
			</div>
		</div>

		<!-- ### SCRIPTS DIVERSOS ### -->
		<script src="widgets/groups/groups.js"></script>
    </div>
</div>