/*###################### INDEX LOGIN #######################*/
.bg-black {
    background: #254B48 !important;
} 
.login label {
    color: #FFFFFF;
}

/*####################### SIDE BAR #######################*/
.sidebar {
    background: #254B48;
}
.sidebar-bg {
    background: #254B48;
}
.sidebar .nav > li.nav-profile {
    background: #254B48;
}
.sidebar .nav > li > a {
    color: #FFFFFF;
}
.sidebar .nav > li.nav-profile .image {
    float: none;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-right: 0px;
    overflow: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 14px;
}
.nav-profile > a.dropdown-toggle:hover,
.nav-profile > a.dropdown-toggle:focus, 
.nav-profile > a.dropdown-toggle:before,
.nav-profile > a.dropdown-toggle:active,
.nav-profile > a.dropdown-toggle.active {
    background: none !important;
}
.navbar.navbar-inverse .navbar-brand, 
.sidebar .nav > li.active > a, 
.sidebar .nav > li.active > a:focus, 
.sidebar .nav > li.active > a:hover, 
.flat-black .sidebar .nav > li.active > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a, 
.label.label-theme, .btn.btn-scroll-to-top {
    background: #089287;
}
.sidebar .sub-menu:before {
    background: #03534B;
}
.sidebar .sub-menu, .page-sidebar-minified .sidebar .nav li.has-sub > .sub-menu {
    background: #03534B;
}
.sidebar .sub-menu > li > a {
    color: #FFFFFF;
}
.sidebar-minify-btn {
    background: #089287;
}

/*###################### WIDGETS #######################*/
.panel-inverse > .panel-heading {
    background: #0A847A;
}
a.btn.btn-xs.btn-icon.btn-circle.btn-success {
    display: none;
}
/*-----LOADER-------*/
#loadingProgressG{
    background-color: rgb(10,132,122);
}

.loadingProgressG{
    background-color: rgb(255,255,255);
}
.spinner_dots > div {
  background-color: rgb(10,132,122);
}

#widgetsunitmonitor .table-striped tbody tr.highlight td,
#widgetsunitmonitor table tbody tr:hover {
    background-color: #254B48 !important;
    color: #ffffff;
}

/*###################### BUTTONS #######################*/
.btn.btn-success {
    color: #fff;
    background: #EBAC12;
    border-color: #EBAC12;
}
.btn.btn-success:hover, 
.btn.btn-success:focus, 
.btn.btn-success:active, 
.btn.btn-success.active, 
.open .dropdown-toggle.btn-success {
    background: #008a8a;
    border-color: #008a8a;
}
.btn-group .btn.btn-success:not(.active) + .btn.btn-success,
.input-group-btn .btn.btn-success:not(.active) + .btn.btn-success {
    border-left-color: #008a8a;
}
.btn.btn-primary {
    color: #fff;
    background: #EBAC12;
    border-color: #EBAC12;
}
.btn.btn-primary:hover, 
.btn.btn-primary:focus, 
.btn.btn-primary:active, 
.btn.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background: #008a8a;
    border-color: #008a8a;
}
.btn-group .btn.btn-primary:not(.active) + .btn.btn-primary,
.input-group-btn .btn.btn-primary:not(.active) + .btn.btn-primary {
    border-left-color: #008a8a;
}


/*###################### MAP #######################*/
#widgetsmapbox #mapSidebar {
    background-color: #254B48;
}
#widgetsmapbox #openmapSidebar {
    background-color: #254B48;
}
.mapSidebar .nav > li.expand > a, 
.mapSidebar .nav > li > a:hover, 
.mapSidebar .nav > li > a:focus {
    background: #089287;
    color: #ffffff;
}
.mapSidebar .sub-menu {
    background: #03534B;
    color: #ffffff;
}
.mapSidebar .sub-menu:before {
    background: #03534B;
    color: #ffffff;
}
.bg-color-primary {
    background-color: #254B48;
    color: #ffffff;
}